<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
     <ul class="nav" id="main-menu">
      <li> <a href="/volunteer"><i class="fa fa-dashboard"></i>首页</a> </li>
         <li> <a href="/volunteer/profile"><i class="fa fa-dashboard"></i>个人信息</a> </li>
         <li> <a href="/volunteer/search_student"><i class="fa fa-sitemap"></i>查看学生</a> </li>
         <li> <a href="/volunteer/date_choose"><i class="fa fa-sitemap"></i>选择日期</a> </li>
      <!--student infomation-->
      <li> <a href="/volunteer/logout"><i class="fa fa-desktop"></i>退出登录</a> </li>
     </ul>
    </div>
   </nav>
   <!-- /. NAV SIDE  -->