<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>查看学生</title>
		{% load staticfiles %}
		<!-- Bootstrap Styles-->
    <link href= "{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href= "{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href= "{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/teacher"><i class="fa fa-comments"></i> <strong>TEACHER </strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/teacher/profile"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/teacher/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
				
				
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="/teacher"><i class="fa fa-dashboard"></i> 首页</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 管理学生<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="active-menu" href="#">添加学生信息</a>
                            </li>
                            <li>
                                <a href="/teacher/add_student_loadxls">批量导入学生信息</a>
                            </li>
														<li>
                                <a href="/teacher/search_student">查看学生信息</a>
                            </li>
                            <li>
                                <a href="#">管理学生组<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/teacher/add_group">新建学生组</a>
                                    </li>
                                    <li>
                                        <a href="/teacher/list_group">查看学生组</a>
                                    </li>
																		<li>
                                        <a href="/teacher/favourite">我关注的学生组</a>
                                    </li>
                                </ul>
                            </li>
														<li>
                                <a href="/teacher/pushmsg">定向发布消息</a>
                            </li>
                        </ul>
                    </li>
					<!--student infomation-->
					<li>
                        <a href="#"><i class="fa fa-sitemap"></i> 管理志愿者<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/teacher/add_volunteer">添加志愿者信息</a>
                            </li>
                            <li>
                                <a href="/teacher/add_volunteer_loadxls">批量导入志愿者信息</a>
                            </li>
														<li>
                                <a href="/teacher/search_volunteer">查看志愿者信息</a>
                            </li>
                        </ul>
                    </li>
					<!--volunteer infomation-->
					
					<li>
                        <a href="/teacher/release_test"><i class="fa fa-desktop"></i> 发布估分测试</a>
                    </li>
										<li>
                        <a href="/teacher/logout"><i class="fa fa-desktop"></i> 退出登录</a>
                    </li>
					
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
				
				<div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            高考招生系统教师端 <small>您好，<span id='namefield'></span></small>
                        </h1>
                    </div>
                </div> 
				<!--row-->
				<!--
				<div class = "row">
					<div class = "col-md-12">
						<div class= "panel panel-default">
							<div class = "panel-body">
								<div class = "row">
									<div class = "col-md-6">
										<label class = "col-md-6">请输入您想新建的学生账户数量：</label>
											<div class = "col-md-3">
												<input id="account_num" type="text">
											</div>
										<div class = "col-md-1">
										</div>
										<div class = "col-md-2">
											<button type = "submit" class = "btn btn-primary" value = "search" id="add">一键添加</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class = "col-md-8">
										<table class="table table-hover" id = "account_table">
											<caption>添加的学生账户：</caption>
											<thead>
												<tr>
													<th style="text-align: center">序号</th>
													<th>注册码</th>
												</tr>
											</thead>
											<tbody id="code_list">
											</tbody>
										</table>
									</div>
								</div>
								<div class = "row">
									<div class = "col-md-2">
										<button type = "submit" class = "btn btn-primary" value = "search" id="export">一键导出</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				-->
				<div class= "panel panel-default">
					<div class = "panel-body">
						<form class="form-search" id = "form">
							<label class = "control-label">请输入您想新建的学生账户数量：</label>
							<input type="text" class="input-medium search-query" id="account_num" name = "account_num" placeholder="不超过9999" digits>
							<button type="button" class="btn btn-primary" id = "add">Add</button>
						</form>
						<div class="row">
							<div class="col-md-6">
								<table class="table table-hover" id = "account_table">
									<caption>添加的学生账户：</caption>
									<thead>
										<tr>
											<th style="width: 60px text-align:center">序号</th>
											<th style="text-align:center">注册码</th>
										</tr>
									</thead>
									<tbody id="code_list">
									</tbody>
								</table>
							</div>
						</div>
						<div class = "row">
							<div class = "col-md-1">
							<button type = "submit" class = "btn btn-primary span2" value = "search" id="export">一键导出</button>
							</div>
						</div>
					</div>
				</div>
				 <footer><p>Copyright &copy; 2016.Company name All rights reserved.<a href="/info">早睡早起</a></p></footer>
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'assets/js/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'assets/js/morris/morris.js' %}"></script>

		<script src="{% static 'jquery-validation-1.14.0/dist/jquery.validate.min.js' %}"></script>
		<script src="{% static 'jquery-validation-1.14.0/dist/additional-methods.js' %}"></script>
		<script src="{% static 'jquery-validation-1.14.0/dist/localization/messages_zh.js' %}"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			$("#form").validate({
				debug:true,
				rules:{
					account_num:{
						digits:true,
						number:true
					}
				}
			});
		});
		</script>

    <!-- Custom Js -->
    <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
		<!-- Two JS functions to ensure CSRF token. (See https://docs.djangoproject.com/en/1.9/ref/csrf/)-->
		<script>
		function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
								var cookie = jQuery.trim(cookies[i]);
								// Does this cookie string begin with the name we want?
								if (cookie.substring(0, name.length + 1) === (name + '=')) {
										cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
										break;
								}
						}
				}
				return cookieValue;
		}
		function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		</script>
		<script>
			var codelist = [];
			function add_to_table(){
				$('#code_list').empty();
				var item = "";
				for(i = 0; i < codelist.length; ++i){
					item = "<tr><td>"+(i+1)+"</td><td style=\"text-align:center\">"+codelist[i]['code']+"</td></tr>"
					$('#code_list').append(item);
				}
			}
			$(document).ready(function(){
				//CSRF token (See https://docs.djangoproject.com/en/1.9/ref/csrf/)
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
						beforeSend: function(xhr, settings) {
								if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader("X-CSRFToken", csrftoken);
								}
						}
				});
				$.post("/backend/get_teacher_name_by_id/", {'id':{{id}}}, function(ret){
				//$.post("/teacher/fake_backend/", {'name':namestr}, function(ret){
					$('#namefield').append(ret['name']);
				});
				$('#account_table').hide();
				$('#export').hide();
				$('#add').click(function(){
					var num = parseInt($('#account_num').val());
					$.post("/backend/add_student/", {'num':num}, function(ret){
						codelist = ret;
						add_to_table();
						$('#account_table').show();
						$('#export').show();
					});
				});
				
			});
		</script>


</body>
</html>
