<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>添加学生</title>
    {% load staticfiles %}
		{% include 'teacher/include/cssinclude.html' %}
</head>
<body>
    <div id="wrapper">
        {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->
				
				<div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            高考招生系统教师端 <small>您好，<span id="namefield"></span></small>
                        </h1>
                    </div>
                </div> 
				
				<div class= "panel panel-default">
					<div class = "panel-body">
						<form class="form-search" id = "form">
							<label class = "control-label">请输入您想新建的学生账户数量：</label>
							<input type="text" class="input-medium search-query" id="account_num" name = "account_num" placeholder="不超过9999" digits>
							<button type="submit" class="btn btn-success" id = "add">Add</button>
						</form>
						<div class="row">
							<div class="col-md-6">
								<table class="table table-hover" id = "account_table">
									<caption>添加的学生账户：</caption>
									<thead>
										<tr>
											<th style="width: 60px text-align:center">序号</th>
											<th style="text-align:center">注册码</th>
										</tr>
									</thead>
									<tbody id="code_list">
									</tbody>
								</table>
							</div>
						</div>
						<div class = "row">
							<div class = "col-md-1">
							<button type = "button" class = "btn btn-primary span2" value = "search" id="export">一键导出</button>
							</div>
						</div>
					</div>
				</div>
                    {% include 'teacher/include/footer.html' %}
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    {% include 'teacher/include/jsinclude.html' %}

		<script src="{% static 'jquery-validation-1.14.0/dist/jquery.validate.min.js' %}"></script>
		<script src="{% static 'jquery-validation-1.14.0/dist/additional-methods.js' %}"></script>
		<script src="{% static 'jquery-validation-1.14.0/dist/localization/messages_zh.js' %}"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			$("#form").validate({
				submitHandler:formSubmit,
				debug:false,
				rules:{
					account_num:{
						digits:true,
						number:true,
						required:true
					}
				}
			});
		});
		</script>
		<script>
			var codelist = [];
			function add_to_table(){
				$('#code_list').empty();
				var item = "";
				for(i = 0; i < codelist.length; ++i){
					item = "<tr><td>"+(i+1)+"</td><td style=\"text-align:center\">"+codelist[i]['code']+"</td></tr>"
					$('#code_list').append(item);
				}
			}
			$(document).ready(function(){
				//CSRF token (See https://docs.djangoproject.com/en/1.9/ref/csrf/)
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
						beforeSend: function(xhr, settings) {
								if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader("X-CSRFToken", csrftoken);
								}
						}
				});
				$.post("/backend/get_teacher_name_by_id/", {'id':{{id}}}, function(ret){
					$('#namefield').append(ret['name']);
				});
        $('#add_student').addClass("active-menu");
        $('#add_student').attr("href", "#");
				$('#account_table').hide();
				$('#export').hide();
			});
			function formSubmit(){
				$('#add').attr("disabled", "disabled");
				$('#add').removeClass("btn-success");
				$('#add').addClass("btn-danger");
				var num = $('#account_num').val();
				$.post("/backend/add_student/", {'num':num}, function(ret){
					codelist = ret;
					add_to_table();
					$('#account_table').show();
					$('#export').show();
          $('#export').click(function(){
            if(codelist.length > 0){
              $.post("/backend/export_registration_code/", {'id':{{id}}, 'length': codelist.length}, function(ret){
                location.href="/teacher/download_registration_xls/file"+ret['filename'];
              });
            }
          });
					$('#add').removeAttr("disabled");
					$('#add').removeClass("btn-danger");
				$('#add').addClass("btn-success");
				});
			}
		</script>

</body>
</html>
