<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>添加志愿者</title>
		{% load staticfiles %}
		{% include 'teacher/include/cssinclude.html' %}
</head>
<body>
    <div id="wrapper">
        {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->
				<div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            高考招生系统教师端 <small>您好，<span id='namefield'></span></small>
                        </h1>
                    </div>
                </div>
				<!--row-->

				<div class= "panel panel-default">
					<div class = "panel-body">
						<form class="form-search" id = "form">
							<div class="row">
								<div class="col-md-2">
									<label class = "control-label">预置用户名：</label>
								</div>
								<div class="col-md-3">
									<input type="text"  id="username" name = "username"/>
								</div>
							</div>
							<div class="row"><p></div>
							<div class="row">
								<div class="col-md-2">
									<label class = "control-label">预置密码：</label>
								</div>
								<div class="col-md-3">
									<input class="password" type="password" id="psw" name = "psw"/>
								</div>
							</div>
							<div class="row"><p></div>
							<div class="row">
								<div class="col-md-2">
									<label class = "control-label">确认预置密码：</label>
								</div>
								<div class="col-md-3">
									<input type="password" id="psw_confirm" name = "psw_confirm"/>
								</div>
							</div>
							<div class="row"><p></div>
							<div class="row">
								<div class="col-md-4">
									<label>*用户名必须由四位以上的字母或数字组成</label>
								</div>
								<div class="col-md-1">
									<button type="submit" class="btn btn-primary" id = "add">Add</button>
								</div>
							</div>

						</form>
					</div>
				</div>
        {% include 'teacher/include/footer.html' %}
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->

    {% include 'teacher/include/jsinclude.html' %}

		<script src="{% static 'jquery-validation-1.14.0/dist/jquery.validate.min.js' %}"></script>
		<script src="{% static 'jquery-validation-1.14.0/dist/additional-methods.js' %}"></script>
		<script src="{% static 'jquery-validation-1.14.0/dist/localization/messages_zh.js' %}"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			$("#form").validate({
				submitHandler:formSubmit,
				debug:false,
				rules:{
					username:{
						required:true,
						minlength:4,
						maxlength:20
					},
					psw:{
            required:true,
						legalPassword:true
					},
					psw_confirm:{
						required:true,
						equalTo:'#psw'
					}
				},
				messages:{
					psw_confirm:{
						equalTo:"<span style=\"color:red\">输入的密码不一致</span>"
					}
				}
			});
		});
		</script>
		<!-- Two JS functions to ensure CSRF token. (See https://docs.djangoproject.com/en/1.9/ref/csrf/)-->
		<script>
		function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
								var cookie = jQuery.trim(cookies[i]);
								// Does this cookie string begin with the name we want?
								if (cookie.substring(0, name.length + 1) === (name + '=')) {
										cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
										break;
								}
						}
				}
				return cookieValue;
		}
		function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		</script>
		<script>
			$(document).ready(function(){
				//CSRF token (See https://docs.djangoproject.com/en/1.9/ref/csrf/)
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
						beforeSend: function(xhr, settings) {
								if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader("X-CSRFToken", csrftoken);
								}
						}
				});
				$.post("/backend/get_teacher_name_by_id/", {'id':{{id}}}, function(ret){
				//$.post("/teacher/fake_backend/", {'name':namestr}, function(ret){
					$('#namefield').append(ret['name']);
				})
				$('#add_volunteer').addClass("active-menu");
        $('#add_volunteer').attr("href", "#");
				$('#info').hide();
				//$('#add').click(formSubmit);

			});

			function formSubmit(){
				var username = $('#username').val();
				var password = $('#psw').val();
				$.post("/backend/add_volunteer/", {'username':username, 'password':password}, function(ret){
					if(ret['success']=='true'){
						$.growl.notice({ title: "添加成功", message: "用户信息已加入数据库" });
					}
					else{
						$.growl.error({ title: "添加失败", message: "用户名"+ret['username']+"已存在" });
					}
				});
			}
	</script>


</body>
</html>
