<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>教师主页</title>
    {% load staticfiles %}
		{% include 'teacher/include/cssinclude.html' %}
</head>
<body>
    <div id="wrapper">
         {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->
				
				<div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            高考招生系统教师端 <small>您好，<span id='namefield'></span></small>
                        </h1>
                    </div>
                </div> 
				<!--row-->
   {% include 'teacher/include/footer.html' %}
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    {% include 'teacher/include/jsinclude.html' %}
		<script>
			$(document).ready(function(){
				//CSRF token (See https://docs.djangoproject.com/en/1.9/ref/csrf/)
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
						beforeSend: function(xhr, settings) {
								if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader("X-CSRFToken", csrftoken);
								}
						}
				});
				$.post("/backend/get_teacher_name_by_id/", {}, function(ret){
					$('#namefield').append(ret['name']);
				})
				
        $('#dashboard').addClass("active-menu");
        $('#dashboard').attr("href", "#");
			});
		</script>


</body>
</html>
