<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      {% load staticfiles %}
    <!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />

    <title>学生分组</title></head>

  <body> <div id="wrapper">
        {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->
      <div id="page-wrapper">
        <div id="page-inner">
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <h1 class="page-header" style="text-align: center">学生分组</h1></div>
          </div>
          <!--row-->
         <div class="row" id="newteam">
               <div class="col-md-4">
                <button onclick="newteam()" type="button">新建一组</button>
                   </div>
          </div>
         {% for team in dict %}
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#team{{team.teamleader}}">{{team.teamleader}}</a>
                    <a href="#">给该组增加志愿者</a></h4>

                  <div id="team{{team.teamleader}}" class="panel-collapse collapse">
                    <div class="panel-body" id="body{{team.teamleader}}">
                        {% for key, value in team.volunteer.items %}
                        <div class="row" id="t{{team.teamleader}}vol{{value.id}}">
                            <label class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">用户名: {{value.user_name}} </label>
                            <label class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">姓名: {{value.name}}</label>
                            <div class="col-sm-3" style="text-align: center"><button onclick="modify('{{value.id}}', 0)" type="button">修改</button></div>
                            <div class="col-sm-3" style="text-align: center"><button onclick="dlt('{{team.teamleader}}', '{{value.id}}','body{{team.teamleader}}','t{{team.teamleader}}vol{{value.id}}', 0)" type="button">删除</button></div>
                        </div>
                        {% endfor %}
                        {% for key, value in team.student.items %}
                        <div class="row" id="t{{team.teamleader}}stu{{value.id}}">
                            <label class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">用户名: {{value.user_name}} </label>
                            <label class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">姓名: {{value.name}}</label>
                            <div class="col-sm-3" style="text-align: center"><button onclick="modify('{{value.id}}', 1)" type="button">修改</button></div>
                            <div class="col-sm-3" style="text-align: center"><button onclick="dlt('{{team.teamleader}}', '{{value.id}}','body{{team.teamleader}}','t{{team.teamleader}}stu{{value.id}}', 1)" type="button">删除</button></div>
                        </div>
                        {% endfor %}
                    </div>
                  </div>
              </div>
            </div>
          </div></div>{% empty %}{% endfor %}

                  {% include 'teacher/include/footer.html' %}
        </div>
        <!-- /. PAGE INNER --></div>
      <!-- /. PAGE WRAPPER --></div>
    <!-- /. WRAPPER -->{% include 'teacher/include/jsinclude.html' %}

    <script>
        function newteam() {
            data={'newteam':1};
            $.ajax({
                    type: 'GET',
                    url: '/teacher/list_group',
                    data: data,
                    dataType: 'json',
                    success: function(data) {
                        teamnum = data['teamnum'];
                        alert('新建分组 “' + teamnum + '” 成功');
                        var newNode = document.createElement("div");
                        var str = "<div class=\"row\">"+
                            "<div class=\"col-md-12\">"+
                              "<div class=\"panel panel-default\">"+
                                "<div class=\"panel-heading\">"+
                                 "<h4 class=\"panel-title\">"+
                                    "<a data-toggle=\"collapse\" data-parent=\"#accordion\" href=\"#team"+teamnum+"\">"+teamnum+" </a>"+
                                    "<a href=\"#\">给该组增加志愿者</a></h4>"+
                                        "<div id=\"team"+teamnum+"\" class=\"panel-collapse collapse\">"+
                                    "<div class=\"panel-body\" id=\"body" + teamnum+ "\">"+
                                            "</div>"+
                                            "</div>"+
                              "</div>"+
                            "</div>"+
                          "</div></div>";
                        newNode.innerHTML = (str);
                // alert(document.getElementById("page-inner").innerHTML);
                       $(newNode).insertAfter(document.getElementById("newteam"));

                    },
                    error: function(xhr, type) {
                        alert('新建分组失败');
                    }
            });
      }






    function modify(user_id, isor) {
        if (isor == 1)
      window.location="/teacher/student_info_edit?id="+user_id;
        else
                  window.location="/teacher/volunteer_info_edit?id="+user_id;

    }






    function dlt(team_id, user_id, parentid, childid, cl) {
      var parent=document.getElementById(parentid);
      var child=document.getElementById(childid);
      parent.removeChild(child);
      var xmlhttp;
      if (window.XMLHttpRequest)
      {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
      }
      else
      {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      //  回调函数
      xmlhttp.onreadystatechange=function()
      {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
          {
            alert('删除成功');
          }
      }
      xmlhttp.open("GET","/teacher/list_group?id=" + user_id + '&teamid=' + team_id + '&class='+cl,true);
      xmlhttp.send();

    }




        	$(document).ready(function(){
    $('#group_management').addClass("active-menu");
        $('#group_management').attr("href", "#");
        	});
    </script>
  </body>

</html>