<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>学生分组</title>
 </head>
 <body>
   {% load staticfiles %}
  <!-- Bootstrap Styles-->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
  <div id="wrapper">
{% include 'teacher/navtop.html' %}
{% include 'teacher/teachernavside.html' %}





   <div id="page-wrapper">
    <div id="page-inner">
     <div class="row">
      <div class="col-md-offset-4 col-md-4">
       <h1 class="page-header" style="text-align: center"> 学生分组 </h1>
      </div>
     </div>
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseOne">
					第1组
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<form class="form-horizontal" id="kengbi">
                  <div class="form-group">
                   <div class="col-sm-4" style="border-right:1px solid #F00">
               <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-3" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-3" style="text-align: center">
                <button type="button">删除</button>
              </div></div>
            <div class="col-sm-4" style="border-right:1px solid #F00">
               <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-3" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-3" style="text-align: center">
                <button type="button">删除</button>
              </div></div><div class="col-sm-4">
               <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-3" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-3" style="text-align: center">
                <button type="button">删除</button>
              </div></div>

             </div>
               <div class="form-group">
                   <div class="col-sm-4" style="border-right:1px solid #F00">
               <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-3" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-3" style="text-align: center">
                <button type="button">删除</button>
              </div></div>
            <div class="col-sm-4" style="border-right:1px solid #F00">
               <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-3" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-3" style="text-align: center">
                <button type="button">删除</button>
              </div></div><div class="col-sm-4">
               <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-3 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-3" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-3" style="text-align: center">
                <button type="button">删除</button>
              </div></div>

             </div>

                </form>
			</div>
		</div>
           <div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseTwo">
					第2组
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse ">
			<div class="panel-body">
				<form class="form-horizontal">
                    <div class="form-group">
               <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-1" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-1" style="text-align: center">
                <button type="button">删除</button>
              </div>
                          <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-1" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-1" style="text-align: center">
                <button type="button">删除</button>
              </div>

                           <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-1" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-1" style="text-align: center">
                <button type="button">删除</button>
              </div>

             </div>
               <div class="form-group">
               <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-1" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-1" style="text-align: center">
                <button type="button">删除</button>
              </div>
                          <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-1" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-1" style="text-align: center">
                <button type="button">删除</button>
              </div>

                           <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">姓名: </label>
              <label for="account" class="col-sm-1 control-label" style="text-align:left;padding-left: 2em;">李三胖长 </label>

              <div class="col-sm-1" style="text-align: center">
                <button type="button">修改</button>
              </div>
                                      <div class="col-sm-1" style="text-align: center">
                <button type="button">删除</button>
              </div>

             </div>
                </form>
			</div>
		</div>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-md-offset-4 col-md-4">
       <footer>
        <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">早睡早起</a></p>
       </footer>
      </div>
     </div>
    </div>
    <!-- /. PAGE INNER  -->
   </div>
   <!-- /. PAGE WRAPPER  -->

  </div>
  <!-- /. WRAPPER  -->

{% include 'teacher/jsinclude.html' %}

  <script>
function add(id,id1) {
         var   newNode=document.createElement("div");
        newNode.setAttribute("id","a"+toString(newNode.childElementCount+1));
    var str = " <div class='form-group'>"+
"              <label for='account' class='col-sm-1 control-label' style='text-align:left;padding-left: 2em;'>姓名: </label>"+
"              <div class='col-sm-3'>"+
              " <p class='form-control-static' id='account' name='account'>李三胖</p>"+
           "   </div>"+
                                  "    <label for='account' class='col-sm-1 control-label' style='text-align:left;padding-left: 2em;'>姓名: </label>"+
           "   <div class='col-sm-3'>"+
            "   <p class='form-control-static' id='account1' name='account'>李三胖</p>"+
           "   </div>"+
           "   <label for='account' class='col-sm-1 control-label' style='text-align:left;padding-left: 2em;'>姓名: </label>"+
          "    <div class='col-sm-3'>"+
           "    <p class='form-control-static' id='account2' name='account'>李三胖</p>"+
             " </div>"+

           "  </div>";
       newNode.innerHTML=(str);

document.getElementById(id).insertBefore(newNode,document.getElementById(id1));
     //   alert(document.getElementById(id).innerHTML);
    }
  </script>
 </body>
</html>