<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>编辑测试</title>
		{% load staticfiles %}
		<!-- Bootstrap Styles-->
    <link href= "{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href= "{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href= "{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
    
    <link href= "{% static 'css/jquery.growl.css' %}" rel="stylesheet" />
     <!-- Google Fonts-->
   <link href="{% static 'css/google-fonts.css' %}" rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
         {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->
				
				<div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            高考招生系统教师端 <small>您好，您正在编辑{{test_id}}</small>
                        </h1>
                    </div>
                </div> 
				<!--row-->
        <div class = "row">
					<div class = "col-md-12">
						<div class= "panel panel-default">
							<div class = "panel-body">
                <table class="table table-hover" id = "question_table">
                  <caption></caption>
									<thead>
										<tr>
											<th>题号</th>
											<th>类型</th>
                      <th>分值</th>
                      <th></th>
										</tr>
									</thead>
									<tbody id="question_list">
                    <tr>
                      <td>1</td>
                      <td>客观题</td>
                      <td>3</td>
                      <td>
                        <button type="button" class="btn btn-info btn-xs">编辑</button>
                        <button type="button" class="btn btn-danger btn-xs">删除</button>
                      </td>
                    </tr>
									</tbody>
                </table>
                <p style="font-family:宋体; font-size:16px; text-align:center" id="empty_msg">您还没有添加题目！</p>
                <button type="button">添加题目</button>
              </div>
						</div>
					</div>
				</div>
   {% include 'teacher/include/footer.html' %}
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    {% include 'teacher/include/jsinclude.html' %}
		<script>
      var test_id = "{{test_id}}";
      var qlist = [];
      function print_list(){
        var item = "";
        var edit_tag, delete_tag;
        $('#question_list').empty();
        if(qlist.length == 0){
          $('#question_table').hide();
          $('#empty_msg').show();
        }
        else{
          $('#empty_msg').hide();
        }
        for(var i = 0; i < qlist.length; ++i){
          edit_tag = String(i)+"_edit";
          delete_tag = String(i)+"_delete";
          item = "<tr><td>"+qlist[i]['num']+"</td><td>"+qlist[i]['type']+"</td><td>"+qlist[i]['maxscore']+"</td><td>";
          item += "<button type=\"button\" id=\""+edit_tag+"\"class=\"btn btn-info btn-xs\">编辑</button>\n";
          item += "<button type=\"button\" id=\""+delete_tag+"\"class=\"btn btn-danger btn-xs\">删除</button>\n</td></tr>";
          $('#question_list').append(item);
          $('#'+edit_tag).click(function(){
            var parse = this.id.split("_");
						var row = parseInt(parse[0]);
            window.location="{%url "upload_question" %}"+"?test_id="+test_id+"&num="+qlist[row]['num'];
          });
          $('#'+delete_tag).click(function(){
            var parse = this.id.split("_");
						var row = parseInt(parse[0]);
            $.post("/backend/remove_question/", {'test_id':test_id, 'num':qlist[row]['num']}, function(ret){
              if(ret['success'].charAt(0) == 'N'){
                $.growl.error({ title: "删除失败", message: ret['message'] });
              }
            });
            refresh();
          })
        }
      }
      function refresh(){
        $.post("/backend/list_question/", {'id':test_id}, function(ret){
          qlist = ret;
          print_list();
        })
      }
			$(document).ready(function(){
				//CSRF token (See https://docs.djangoproject.com/en/1.9/ref/csrf/)
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
						beforeSend: function(xhr, settings) {
								if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader("X-CSRFToken", csrftoken);
								}
						}
				});
        refresh();
			});
		</script>


</body>
</html>
