<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>查看志愿者</title>
    {% load staticfiles %}
		{% include 'teacher/include/cssinclude.html' %}
</head>
<body>
    <div id="wrapper">
           {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->
				<div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            检索志愿者信息 <small>高考招生系统教师端  您好，<span id='namefield'></span></small>
                        </h1>
                    </div>
                </div> 
				<!--row-->
				<div class = "row">
					<div class = "col-md-12">
						<div class= "panel panel-default">
							<div class = "panel-body">
								<div class = "row">
									<div class = "col-md-6">
										<div class = "form-horizontal" >
											<div class = "form-group">
												<label for = "realName" class = "col-sm-2 control-label">姓名：</label>
												<div class = "col-sm-8">
													<input type = "text" class = "form-control" id = "realName">
											    </div>
												<button type = "submit" class = "btn btn-primary" value = "search" id="search">检索</button>
											</div>
										</div>
									</div>
                  <div class="col-md-4">
                    <button type = "button" class = "btn btn-primary" id="all">显示全部</button>
                  </div>
								</div>
								<table class="table table-hover">
									<caption>匹配结果</caption>
									<thead>
										<tr>
											<th>姓名</th>
											<th>院系</th>
											<th>班级</th>
											<th>学号</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="student_list">
										
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /. ROW -->
   {% include 'teacher/include/footer.html' %}
			</div>

             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    {% include 'teacher/include/jsinclude.html' %}
		<script>
			var list_start_pos = 0;
			var user_array = [];
			function show_list(startnum){
				var tag1, tag2, tag3;
				var listitem="";
				for(var i = startnum; i < user_array.length; ++i){
					tag1 = String(i)+'_A';
					tag2 = String(i)+'_B';
					tag3 = String(i)+'_C';
					listitems="<tr><td>"+user_array[i]['name']+"</td><td>"+user_array[i]['department']+"</td><td>"+user_array[i]['class']+"</td><td>"+user_array[i]['student_id']+"</td>";
					listitems+="<td><button type=\"button\" id=\""+tag1+"\" class = \"btn btn-info btn-xs\">查看</button>\n";
					listitems+="<button type=\"button\" id=\""+tag2+"\" class = \"btn btn-success btn-xs\">编辑</button>\n";
					listitems+="<button type=\"button\" id=\""+tag3+"\" class = \"btn btn-danger btn-xs\">删除</button></td></tr>";
					$('#student_list').append(listitems);
					$('#'+tag1).click(function(){
						var parse = this.id.split("_");
						var row = parseInt(parse[0]);
						//No need to examine the suffix since we are dealing with 'tag1'
						/*
						var type = parse[1];
						switch(type.charAt(0)){
							case 'A':
								alert("Operation A at row #"+row);
								break;
							case 'B':
								alert("Operation B at row #"+row);
								break;
							case 'C':
								alert("Operation C at row #"+row);
								break;
						}
						*/
						var abs_pos=list_start_pos+row;
						//alert("Operation:view at row #"+abs_pos+" ?id="+user_array[abs_pos]['id']);
						window.location="/teacher/volunteer_info?id="+user_array[abs_pos]['id'];
					});
					$('#'+tag2).click(function(){
						var parse = this.id.split("_");
						var row = parseInt(parse[0]);
						//alert("Operation:edit at row #"+row);
						var abs_pos=list_start_pos+row;
						window.location="/teacher/volunteer_info_edit?id="+user_array[abs_pos]['id'];
					});
					$('#'+tag3).click(function(){
						var parse = this.id.split("_");
						var row = parseInt(parse[0]);
						alert("Operation:drop at row #"+row);
						var abs_pos=list_start_pos+row;
						$.post("/backend/remove_volunteer_by_id/", {'id':user_array[abs_pos]['id']}, function(ret){
							postreq($('#realName').val());
						})
					});
				}
			}
			function postreq(namestr){
				if(namestr.length==0){
					//TODO: request all
					list_start_pos = 0;
					$('#student_list').empty();
					//access server and load matching records
					$.post("/backend/volunteer_list_all/", {}, function(ret){
						user_array=ret;
						show_list(list_start_pos);
					})
				}
				else{
					list_start_pos = 0;
					$('#student_list').empty();
					//access server and load matching records
					$.post("/backend/search_volunteer_by_name/", {'name':namestr}, function(ret){
						user_array=ret;
						show_list(list_start_pos);
					})
				}
			}
			$(document).ready(function(){
				//CSRF token (See https://docs.djangoproject.com/en/1.9/ref/csrf/)
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
						beforeSend: function(xhr, settings) {
								if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader("X-CSRFToken", csrftoken);
								}
						}
				});
				$.post("/backend/get_teacher_name_by_id/", {}, function(ret){
					$('#namefield').append(ret['name']);
				})
				
        $('#search_volunteer').addClass("active-menu");
        $('#search_volunteer').attr("href", "#");
        
				var nameinit=$('#realName').val();
				postreq(nameinit);
				
				$('#search').click(function(){
					var namestr=$('#realName').val();
					postreq(namestr);
				});
        $('#all').click(function(){
          postreq("");
        });
			});
		</script>


</body>
</html>
