<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>查看学生</title>
 </head>
 <body>
   {% load staticfiles %}
  <!-- Bootstrap Styles-->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />


  <div id="wrapper">
{% include 'teacher/navtop.html' %}
{% include 'teacher/teachernavside.html' %}





   <div id="page-wrapper">
    <div id="page-inner">
     <div class="row">
      <div class="col-md-offset-4 col-md-4">
       <h1 class="page-header" style="text-align: center"> 学生详情 </h1>
      </div>
     </div>
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-offset-3 col-md-6">
           <form class="form-horizontal" role="form" method="POST" action="/teacher/student_info/edit/">
             {% csrf_token %}
            <fieldset disabled="">
             <div class="form-group">
              <label for="account" class="col-sm-2 control-label" style="text-align:left;padding-left: 2em;">用户名: </label>
              <div class="col-sm-10">
               <p class="form-control-static" id="account" name="account">{{student.account}}</p>
              </div>
             </div>
             <div class="form-group">
              <label for="realName" style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label">姓名：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="realName" name="realName" value="{{student.realName}}" />
              </div>
             </div>
             <div class="form-group">
              <label for="idNumber" style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label">身份证号：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="idNumber" name="idNumber" value="{{student.idNumber}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="registerCode" class="col-sm-2 control-label">注册码：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="registerCode" name="registerCode" value="{{student.registerCode}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" for="sex">性别：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="sex" name="sex" value="{{student.sex}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="nation" class="col-sm-2 control-label">民族：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="nation" name="nation" value="{{student.nation}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="birth" class="col-sm-2 control-label">出生日期: </label>
              <div class="col-sm-10">
               <p class="date" id="birth" name="birth">{{student.birth}}</p>
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" for="type">文理科：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="type" name="sex" value="{{student.type}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="province" class="col-sm-2 control-label">地区：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="province" name="province" value="{{student.province}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="phone" class="col-sm-2 control-label">手机：</label>
              <div class="col-sm-10">
               <input type="tel" class="form-control" name="phone" id="phone" value="{{student.phone}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="email" class="col-sm-2 control-label">邮箱：</label>
              <div class="col-sm-10">
               <input type="email" class="form-control" id="email" name="email" value="{{student.email}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="address" class="col-sm-2 control-label">地址：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="address" name="address" value="{{student.address}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="dadName" class="col-sm-2 control-label">父亲姓名：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="dadName" name="dadName" value="{{student.dadName}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="dadPhone" class="col-sm-2 control-label">父亲电话：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="dadPhone" name="dadPhone" value="{{student.dadPhone}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="momName" class="col-sm-2 control-label">母亲姓名：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="momName" name="momName" value="{{student.momName}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="momPhone" class="col-sm-2 control-label">母亲电话：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="momPhone" name="momPhone" value="{{student.momPhone}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="school" class="col-sm-2 control-label">学校：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="school" name="school" value="{{student.school}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="stu_class" class="col-sm-2 control-label">班级：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="stu_class" name="stu_class" value="{{student.stu_class}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" for="tutorName" class="col-sm-2 control-label">班主任姓名：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="tutorName" name="tutorName" value="{{student.tutorName}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" for="tutorPhone" class="col-sm-2 control-label">班主任电话：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="tutorPhone" name="tutorPhone" value="{{student.tutorPhone}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" for="majorSelect1" class="col-sm-2 control-label">专业志愿一：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="majorSelect1" name="majorSelect1" value="{{student.major.0}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" for="majorSelect2" class="col-sm-2 control-label">专业志愿二：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="majorSelect2" name="majorSelect2" value="{{student.major.1}}" />
              </div>
             </div>
             <div class="form-group">
              <label for="majorSelect3" style="text-align:left;padding-left: 2em;padding-right: 5px;" class="col-sm-2 control-label">专业志愿三：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="majorSelect3" name="majorSelect3" value="{{student.major.2}}" />
              </div>
             </div>

             <div class="form-group">
              <label for="majorSelect3" style="text-align:left;padding-left: 2em;padding-right: 5px;" class="col-sm-2 control-label">专业志愿四：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="majorSelect4" name="majorSelect3" value="{{student.major.2}}" />
              </div>
             </div>
             <div class="form-group">
              <label for="majorSelect3" style="text-align:left;padding-left: 2em;padding-right: 5px;" class="col-sm-2 control-label">专业志愿五：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="majorSelect5" name="majorSelect3" value="{{student.major.2}}" />
              </div>
             </div>
             <div class="form-group">
              <label for="majorSelect3" style="text-align:left;padding-left: 2em;padding-right: 5px;" class="col-sm-2 control-label">专业志愿六：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="majorSelect6" name="majorSelect3" value="{{student.major.2}}" />
              </div>
             </div>



             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="testScore1" class="col-sm-2 control-label">一模成绩：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="testScore1" name="testScore1" value="{{student.testSocreList.0}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="rank1" class="col-sm-2 control-label">排名/人数：</label>
              <div class="col-sm-2">
               <input type="text" class="form-control" id="rank1" name="rank1" value="{{student.rankList.0}}" />
              </div>
              <div class="col-sm-2">
               <input type="text" class="form-control" id="rank11" name="rank11" value="{{student.rankList.0}}" />
              </div>

             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="testScore2" class="col-sm-2 control-label">二模成绩：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="testScore2" name="testScore2" value="{{student.testSocreList.1}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="rank2" class="col-sm-2 control-label">排名/人数：</label>
               <div class="col-sm-2">
               <input type="text" class="form-control" id="rank2" name="rank2" value="{{student.rankList.0}}" />
              </div>
              <div class="col-sm-2">
               <input type="text" class="form-control" id="rank22" name="rank22" value="{{student.rankList.0}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="testScore3" class="col-sm-2 control-label">三模成绩：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="testScore3" name="testScore3" value="{{student.testSocreList.2}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="rank3" class="col-sm-2 control-label">排名/人数：</label>
               <div class="col-sm-2">
               <input type="text" class="form-control" id="rank3" name="rank3" value="{{student.rankList.0}}" />
              </div>

              <div class="col-sm-2">
               <input type="text" class="form-control" id="rank33" name="rank33" value="{{student.rankList.0}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="estimateScore" class="col-sm-2 control-label">估分：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="estimateScore" name="estimateScore" value="{{student.estimateScore}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="realScore" class="col-sm-2 control-label">实考分：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="realScore" name="realScore" value="{{student.realScore}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="admissionStatus" class="col-sm-2 control-label">录取情况：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="admissionStatus" name="estimateScore" value="{{student.admissionStatus}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="relTeacher" class="col-sm-2 control-label">对应老师：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="relTeacher" name="relTeacher" value="{{student.relTeacher}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" for="relVolunteer" class="col-sm-2 control-label">对应志愿者：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="relVolunteer" name="relVolunteer" value="{{student.relVolunteer}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="comment" class="col-sm-2 control-label">备注：</label>
              <div class="col-sm-10">
               <textarea type="text" class="form-control" id="comment" name="comment" rows="10" placeholder="备注信息">{{student.comment}}</textarea>
              </div>
             </div>
             <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" class="btn btn-primary" value="save">编辑</button>
              </div>
             </div>
            </fieldset>
           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="col-md-offset-4 col-md-4">
       <footer>
        <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">早睡早起</a></p>
       </footer>
      </div>
     </div>
    </div>
    <!-- /. PAGE INNER  -->




   </div>
   <!-- /. PAGE WRAPPER  -->

  </div>
  <!-- /. WRAPPER  -->




{% include 'teacher/jsinclude.html' %}
 </body>
</html>