<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load staticfiles %}
  {% include 'teacher/include/cssinclude.html' %}
  <title>查看学生信息</title>
 </head>
 <body>


  <div id="wrapper">
 {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->



   <div id="page-wrapper">
    <div id="page-inner">
     <div class="row">
      <div class="col-md-offset-4 col-md-4">
       <h1 class="page-header" style="text-align: center"> 学生详情 </h1>
      </div>
     </div>
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-offset-3 col-md-6">
           <form class="form-horizontal" role="form" action="#">
             {% csrf_token %}
            <fieldset disabled="">
             <div class="form-group">
              <label for="account" class="col-sm-2 control-label" style="text-align:left;padding-left: 2em;">用户名: </label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="account" name="account" value="{{student.account}}" />

              </div>
             </div>
             <div class="form-group">
              <label for="realName" style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label">姓名：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="realName" name="realName" value="{{student.realName}}" />
              </div>
             </div>
             <div class="form-group">
              <label for="idNumber" style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label">身份证号：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="idNumber" name="idNumber" value="{{student.idNumber}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="registerCode" class="col-sm-2 control-label">注册码：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="registerCode" name="registerCode" value="{{student.registerCode}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" for="sex">性别：</label>
              <div class="col-sm-10">
               {% if student.sex == 0 %}
                    <select class="form-control" id="sex" name="sex"> <option value="0" selected="selected">男</option><option value="1">女</option> </select>
               {% else %}
                    <select class="form-control" id="sex" name="sex"> <option value="0">男</option><option value="1" selected="selected">女</option> </select>
               {% endif %}
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="nation" class="col-sm-2 control-label">民族：</label>
              <div class="col-sm-10">
              <select class="form-control" id="nation" name="nation">
                {% for item in student.nation.nationlist %}
                   {% if forloop.counter0 == student.nation.nation %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="birth" class="col-sm-2 control-label">出生日期: </label>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="birth" name="birth" value="{{student.birth}}" />

              </div>
             </div>
                             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="estimateScore" class="col-sm-2 control-label">估分：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="estimateScore" name="estimateScore" value="{{student.estimateScore}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" for="type">文理科：</label>
              <div class="col-sm-10">
                <select class="form-control" id="type" name="type">
                {% for item in student.type.typelist %}
                   {% if forloop.counter0 == student.type.type %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="province" class="col-sm-2 control-label">地区：</label>
              <div class="col-sm-10">
               <select class="form-control" id="province" name="province">
                {% for item in student.province.provincelist %}
                   {% if forloop.counter0 == student.province.province %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="phone" class="col-sm-2 control-label">手机：</label>
              <div class="col-sm-10">
               <input type="tel" class="form-control" name="phone" id="phone" value="{{student.phone}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="email" class="col-sm-2 control-label">邮箱：</label>
              <div class="col-sm-10">
               <input type="email" class="form-control" id="email" name="email" value="{{student.email}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="address" class="col-sm-2 control-label">地址：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="address" name="address" value="{{student.address}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="dadName" class="col-sm-2 control-label">父亲姓名：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="dadName" name="dadName" value="{{student.dadName}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="dadPhone" class="col-sm-2 control-label">父亲电话：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="dadPhone" name="dadPhone" value="{{student.dadPhone}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="momName" class="col-sm-2 control-label">母亲姓名：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="momName" name="momName" value="{{student.momName}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="momPhone" class="col-sm-2 control-label">母亲电话：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="momPhone" name="momPhone" value="{{student.momPhone}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="school" class="col-sm-2 control-label">学校：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="school" name="school" value="{{student.school}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="stu_class" class="col-sm-2 control-label">班级：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="stu_class" name="stu_class" value="{{student.stu_class}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" for="tutorName" class="col-sm-2 control-label">班主任姓名：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="tutorName" name="tutorName" value="{{student.tutorName}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" for="tutorPhone" class="col-sm-2 control-label">班主任电话：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="tutorPhone" name="tutorPhone" value="{{student.tutorPhone}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" for="majorSelect1" class="col-sm-2 control-label">专业志愿一：</label>
              <div class="col-sm-10">
              <select class="form-control" id="majorSelect1" name="majorSelect1">
                {% for item in student.major.0.departmentlist %}
                   {% ifequal forloop.counter0 student.major.0.department %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endifequal %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" for="majorSelect2" class="col-sm-2 control-label">专业志愿二：</label>
              <div class="col-sm-10">
               <select class="form-control" id="majorSelect2" name="majorSelect2">
                {% for item in student.major.1.departmentlist %}
                   {% if forloop.counter0 == student.major.1.department %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>

              </div>
             </div>
             <div class="form-group">
              <label for="majorSelect3" style="text-align:left;padding-left: 2em;padding-right: 5px;" class="col-sm-2 control-label">专业志愿三：</label>
              <div class="col-sm-10">
              <select class="form-control" id="majorSelect3" name="majorSelect3">
                {% for item in student.major.2.departmentlist %}
                   {% if forloop.counter0 == student.major.2.department %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>

             <div class="form-group">
              <label for="majorSelect3" style="text-align:left;padding-left: 2em;padding-right: 5px;" class="col-sm-2 control-label">专业志愿四：</label>
              <div class="col-sm-10">
               <select class="form-control" id="majorSelect4" name="majorSelect4">
                {% for item in student.major.3.departmentlist %}
                   {% if forloop.counter0 == student.major.3.department %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>
             <div class="form-group">
              <label for="majorSelect3" style="text-align:left;padding-left: 2em;padding-right: 5px;" class="col-sm-2 control-label">专业志愿五：</label>
              <div class="col-sm-10">
               <select class="form-control" id="majorSelect5" name="majorSelect5">
                {% for item in student.major.4.departmentlist %}
                   {% if forloop.counter0 == student.major.4.department %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>
             <div class="form-group">
              <label for="majorSelect3" style="text-align:left;padding-left: 2em;padding-right: 5px;" class="col-sm-2 control-label">专业志愿六：</label>
              <div class="col-sm-10">
               <select class="form-control" id="majorSelect6" name="majorSelect6">
                {% for item in student.major.5.departmentlist %}
                   {% if forloop.counter0 == student.major.5.department %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>




            <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="testScore1" class="col-sm-2 control-label">一模成绩：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="testScore1" name="testScore1" value="{{student.testScoreList.0}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="rank1" class="col-sm-2 control-label">排名/人数：</label>
              <div class="col-sm-2">
               <input type="text" class="form-control" id="rank1" name="rank1" value="{{student.rankList.0}}" />
              </div>
              <div class="col-sm-2">
               <input type="text" class="form-control" id="rank11" name="rank11" value="{{student.sumNumberList.0}}" />
              </div>

             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="testScore2" class="col-sm-2 control-label">二模成绩：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="testScore2" name="testScore2" value="{{student.testScoreList.1}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="rank2" class="col-sm-2 control-label">排名/人数：</label>
               <div class="col-sm-2">
               <input type="text" class="form-control" id="rank2" name="rank2" value="{{student.rankList.1}}" />
              </div>
              <div class="col-sm-2">
               <input type="text" class="form-control" id="rank22" name="rank22" value="{{student.sumNumberList.1}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="testScore3" class="col-sm-2 control-label">三模成绩：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="testScore3" name="testScore3" value="{{student.testScoreList.2}}" />
              </div>
              <label style="text-align:left;padding-left: 2em;" for="rank3" class="col-sm-2 control-label">排名/人数：</label>
               <div class="col-sm-2">
               <input type="text" class="form-control" id="rank3" name="rank3" value="{{student.rankList.2}}" />
              </div>

              <div class="col-sm-2">
               <input type="text" class="form-control" id="rank33" name="rank33" value="{{student.sumNumberList.2}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="realScore" class="col-sm-2 control-label">实考分：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="realScore" name="realScore" value="{{student.realScore}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="admissionStatus" class="col-sm-2 control-label">录取情况：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="admissionStatus" name="estimateScore" value="{{student.admissionStatus}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="relTeacher" class="col-sm-2 control-label">对应老师：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="relTeacher" name="relTeacher" value="{{student.duiyingTeacher}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;padding-right: 5px;" class="col-sm-2 control-label">对应组号：</label>
              <div class="col-sm-2">
               <select class="form-control" id="team1" name="team1">
                {% for item in student.grouplist %}
                   {% if forloop.counter0 == student.group1 %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
              <div class="col-sm-2">
               <select class="form-control" id="team2" name="team2">
               {% for item in student.grouplist %}
                   {% if forloop.counter0 == student.group2 %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
              <div class="col-sm-2">
               <select class="form-control" id="team3" name="team3">
               {% for item in student.grouplist %}
                   {% if forloop.counter0 == student.group3 %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
              <div class="col-sm-2">
               <select class="form-control" id="team4" name="team4">
               {% for item in student.grouplist %}
                   {% if forloop.counter0 == student.group4 %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
              <div class="col-sm-2">
               <select class="form-control" id="team5" name="team5">
             {% for item in student.grouplist %}
                   {% if forloop.counter0 == student.group5 %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>





             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="comment" class="col-sm-2 control-label">备注：</label>
              <div class="col-sm-10">
               <textarea type="text" class="form-control" id="comment" name="comment" rows="10" placeholder="备注信息">{{student.comment}}</textarea>
              </div>
             </div>
             </fieldset>
             <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
               <button type="button" onclick="gourl('{{student.id}}')" class="btn btn-primary" value="save">编辑</button>
              </div>
             </div>

           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
{% include 'teacher/include/footer.html' %}
    </div>
    <!-- /. PAGE INNER  -->




   </div>
   <!-- /. PAGE WRAPPER  -->

  </div>
  <!-- /. WRAPPER  -->




{% include 'teacher/include/jsinclude.html' %}
   <!-- /. WRAPPER  -->
 <script>
  function gourl(id) {
    window.location = "/teacher/student_info_edit?id="+id;
  }
 </script>
 </body>
</html>