<!DOCTYPE html>
<html>
 <head id="Head1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% load staticfiles %}
  {% include 'teacher/include/cssinclude.html' %}
  <!-- profile-->
  <link href="{% static 'assets/css/profile/profile.css' %}" rel="stylesheet" type="text/css" />
  <!--3d button-->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style2.css' %}" />
  <link href="{% static 'assets/css/googleapis.css' %}" rel="stylesheet" type="text/css" />
  <script language="javascript">
    $(function() {
        $("#problem_upload").change(function() {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            var $img = $("#preview");

            if(fileObj && fileObj.files && fileObj.files[0]){
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src',dataURL);
            }else{
                dataURL = $file.val();

                // $img.css("filter",'progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod = scale,src="' + dataURL + '")');

                // var imgObj = document.getElementById("preview");
                // imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\"" + dataURL + "\")";
                // imgObj.style.width = "48px";
                // imgObj.style.height = "48px";

                var imgObj = document.getElementById("preview");
                // 两个坑:
                // 1、在设置filter属性时，元素必须已经存在在DOM树中，动态创建的Node，也需要在设置属性前加入到DOM中，先设置属性在加入，无效；
                // 2、src属性需要像下面的方式添加，上面的两种方式添加，无效；
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;

            }
        });
    });
    </script>
  <style>
    .image_container {
        width: auto;
        height: auto;
        position: relative;
    }
    div.upload {
    width: 157px;
    height: 57px;
    background: url({% static 'assets/img/upload.png' %});
    overflow: hidden;
    }

   div.upload input {
       display: block !important;
       width: 157px !important;
       height: 57px !important;
       opacity: 0 !important;
       overflow: hidden !important;
   }
</style>
   <title>编辑测试题</title>
 </head>
 <body>

  <div id="wrapper">
     {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->

   <div id="page-wrapper">
    <div id="page-inner">
     <div class="row">
      <div class="col-md-offset-4 col-md-4">
       <h1 class="page-header" style="text-align: center"> 上传试题详情 </h1>
      </div>
     </div>
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-6">
           <div class="image_container" style="text-align: center">
            <img id="preview" style="width: 600px;height: 500px;border:1px black;margin-right: 10px;margin-bottom: 10px;" />
           </div>
          </div>
          <div class="col-md-6">
           <form>
            <fieldset disabled="">

              <div class="form-group">
             <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" >年：</label>
             <div class="col-sm-4">
               <select class="form-control" id="year" name="year">
                {% for item in dict.year.yearlist %}
                   {% if forloop.counter0 == dict.year.year %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
             </div>
             <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" >省份：</label>
             <div class="col-sm-4">
             <select class="form-control" id="province" name="province">
                {% for item in dict.province.provincelist %}
                   {% if forloop.counter0 == dict.province.province %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
             </div>
            </div>
            <div class="form-group">
             <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" >科目：</label>
             <div class="col-sm-10">
              <select class="form-control" id="subject" name="subject">
                {% for item in dict.subject.subjectlist %}
                   {% if forloop.counter0 == dict.subject.subject %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
             </div>
            </div>
            <div class="form-group">
             <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" >题号：</label>
             <div class="col-sm-10">
             <select class="form-control" id="number" name="number">
                {% for item in dict.number.numberlist %}
                   {% if forloop.counter0 == dict.number.number %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
             </div>
            </div>
            </fieldset>
            <div class="form-group">
             <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" >最大分值：</label>
             <div class="col-sm-10">
             <select class="form-control" id="score" name="score">
                {% for item in dict.score.scorelist %}
                   {% if forloop.counter0 == dict.score.score %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>

             </div>
            </div>
            <div class="form-group">
             <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" >题型：</label>
             <div class="col-sm-10">
                 <select class="form-control" id="category" name="category">
                {% for item in dict.category.categorylist %}
                   {% if forloop.counter0 == dict.category.category %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
            </div>
            <div class="form-group">
             <label style="text-align:left;padding-left: 2em;" class="col-sm-4 control-label" >上传题目图片</label>
             <div class="col-md-4">
              <div class="upload">
               <input id="problem_upload" type="file" name="image"/>
              </div>
             </div>
            </div>
            <div class="form-group">
             <label style="text-align:left;padding-left: 2em;" class="col-sm-4 control-label" >保存当前题目</label>
             <div class="col-md-4">
              <a href="#present" class="a_demo_two" style="display: block;height: 50px;width: 150px;font-size: larger;text-align: center"> 提交 </a>
             </div>
            </div>
           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>

      {% include 'teacher/include/footer.html' %}

   </div>
   <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
  <!-- /. WRAPPER  --> {% include 'teacher/include/jsinclude.html' %}
 <script>
   $(document).ready(function(){
       $('a[href="#present"]').click(function(){
            var year = $("#year").val();
            var province = $('#province').val();
            var subject = $("#subject").val();
            var number = $("#number").val();
            var score = $("#score").val();
            var category = $("#category").val();
            var problem_upload = $("#problem_upload")[0].files[0];
            var formData = new FormData();
            formData.append('year',year);
            formData.append('province',province);
            formData.append('subject',subject);
            formData.append('number',number);
            formData.append('score',score);
            formData.append('problem_upload',problem_upload);
            formData.append('category',category);
            $.ajax({
             url: '',
             type:'POST',
             cache:false,
             data:formData,
             processData: false,
             contentType:false,
            }).done(function (dict) {
              alert(dict['result'] + ' done');
            }).fail(function (dict) {
             alert(dict['result'] + ' fail');
            });
       });
     });
 </script>
 </body>
</html>