<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     {% load staticfiles %}
  <!-- Bootstrap Styles-->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
   <!-- profile-->
  <link href="{% static 'assets/css/profile/profile.css' %}" rel="stylesheet" type="text/css" />
  <div id="wrapper">
  <title>用户信息</title>
 </head>
 <body>
 {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->


   <div id="page-wrapper">
    <div id="page-inner">
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-12">
           <form role = "form" action="#">
              {% csrf_token %}
            <h1>我的信息</h1>
            <div class="contentform">
             <div class="leftcontact">
              <div class="form-group">
               <p>姓名<span>*</span></p>
               <span class="icon-case"><i class="fa fa-male"></i></span>
               <input value="{{dict.teacher_name}}" type="text" name="teacher_name" id="teacher_name" required data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Nom' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>E-mail <span>*</span></p>
               <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
               <input value="{{dict.email}}" required type="email" name="email" id="email" data-rule="email" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>办公地址 <span>*</span></p>
               <span class="icon-case"><i class="fa fa-home"></i></span>
               <input value="{{dict.work_address}}" required  type="text" name="work_address" id="work_address" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Soci&eacute;t&eacute;' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>密码 </p>
               <span class="icon-case"><i class="fa fa-info"></i></span>
               <input type="password" name="password1" id="password1" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Code postal' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>密码确认 </p>
               <span class="icon-case"><i class="fa fa-info"></i></span>
               <input type="password" name="password2" id="password2" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Adresse' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>

             </div>
             <div class="rightcontact">
              <div class="form-group">
               <p>固定电话 </p>
               <span class="icon-case"><i class="fa fa-phone"></i></span>
               <input value="{{dict.homephone}}" type="text" name="homephone" id="homephone" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Ville' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>手机号码 <span>*</span></p>
               <span class="icon-case"><i class="fa fa-phone"></i></span>
               <input value="{{dict.phone}}" required  type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'T&eacute;l&eacute;phone' doit &ecirc;tre renseign&eacute;. Minimum 10 chiffres" />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>QQ </p>
               <span class="icon-case"><i class="fa fa-info"></i></span>
               <input value="{{dict.qqn}}" type="text" name="qqn" id="qqn" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Fonction' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>微信号 </p>
               <span class="icon-case"><i class="fa fa-comment-o"></i></span>
               <input value="{{dict.weichat}}" type="text" name="weichat" id="weichat" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Sujet' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>个人描述 <span>*</span></p>
               <span class="icon-case"><i class="fa fa-comments-o"></i></span>
               <textarea required  name="describe" id="describe" rows="14" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Message' doit &ecirc;tre renseign&eacute;.">
                {{dict.describe}}
               </textarea>
               <div class="validation"></div>
              </div>
             </div>
            </div>
            <button type="button" id="teacher_save" name="teacher_save" class="bouton-contact">保存</button>
           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
       {% include 'teacher/include/footer.html' %}
    </div>
    <!-- /. PAGE INNER  -->
   </div>
   <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->
{% include 'teacher/include/jsinclude.html' %}
  <script>
      console.log("WTF");
      $(document).ready(function(){
          console.log("Arrive here");
          $("#teacher_save").click(function(){
              console.log("teacher_save");
            var teacher_name = $("#teacher_name").val();
            var email = $("#email").val();
            var work_address = $("#work_address").val();
            var password1 = $("#password1").val();
            var password2 = $("#password2").val();
            var homephone = $("#homephone").val();
            var phone = $("#phone").val();
            var qqn = $("#qqn").val();
            var weichat = $("#weichat").val();
            var describe = $("#describe").val();
            if (password1 != password2){
             alert("两次密码不一致，请重新输入");
             return;
            }
            $.post("",
                    {
                        'teacher_name':teacher_name,
                        'email':email,
                        'work_address':work_address,
                        'password1':password1,
                        'password2':password2,
                        'homephone':homephone,
                        'phone':phone,
                        'qqn':qqn,
                        'weichat':weichat,
                        'describe':describe,
                    },
                    function(profileDict){
                        console.log(profileDict['homephone']);
                        for (key_i in profileDict)
                            $("#"+key_i).val(profileDict[key_i]);
                        alert("修改成功");
            })
          });
      });
  </script>
 </body>
</html>