<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load staticfiles %}
  {% include 'teacher/include/cssinclude.html' %}
  <!-- profile-->
  <link href="{% static 'assets/css/profile/profile.css' %}" rel="stylesheet" type="text/css" />
  <title>用户信息</title>
  </head>
  <body>
  <div id="wrapper">
  {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->


   <div id="page-wrapper">
    <div id="page-inner">
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-12">
           <form id = "form" action="#">
              {% csrf_token %}
            <h1>{{dict.user_name}} 的信息</h1>
            <div class="contentform">
             <div class="leftcontact">
              <div class="form-group">
               <p>姓名<span>*</span></p>
               <span class="icon-case"><i class="fa fa-male"></i></span>
               <input value="{{dict.teacher_name}}" type="text" name="teacher_name" id="teacher_name"></input>
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>E-mail <span>*</span></p>
               <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
               <input value="{{dict.email}}" type="text" name="email" id="email" ></input>
               <div class="validation"></div>
              </div>

              <div class="form-group">
               <p>密码 </p>
               <span class="icon-case"><i class="fa fa-info"></i></span>
               <input type="password" name="password1" id="password1" value="{{dict.password1}}"></input>
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>密码确认 </p>
               <span class="icon-case"><i class="fa fa-info"></i></span>
               <input type="password" name="password2" id="password2" value="{{dict.password2}}" ></input>
               <div class="validation"></div>
              </div>

             </div>
             <div class="rightcontact">

              <div class="form-group">
               <p>手机号码 <span>*</span></p>
               <span class="icon-case"><i class="fa fa-phone"></i></span>
               <input value="{{dict.phone}}" type="text" name="phone" id="phone" ></input>
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>办公地址 <span>*</span></p>
               <span class="icon-case"><i class="fa fa-home"></i></span>
               <input value="{{dict.work_address}}" type="text" name="work_address" id="work_address"></input>
               <div class="validation"></div>
              </div>

              <div class="form-group">
               <p>个人描述 <span>*</span></p>
               <span class="icon-case"><i class="fa fa-comments-o"></i></span>
               <textarea name="describe" id="describe" rows="14">{{dict.describe}}</textarea>
               <div class="validation"></div>
              </div>
             </div>
            </div>
            <button type="submit" id="teacher_save" name="teacher_save" class="bouton-contact">保存</button>
           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
       {% include 'teacher/include/footer.html' %}
    </div>
    <!-- /. PAGE INNER  -->
   </div>
   <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->
{% include 'teacher/include/jsinclude.html' %}
  <script src="{% static 'jquery-validation-1.14.0/dist/jquery.validate.min.js' %}"></script>
  <script src="{% static 'jquery-validation-1.14.0/dist/additional-methods.js' %}"></script>
  <script src="{% static 'jquery-validation-1.14.0/dist/localization/messages_zh.js' %}"></script>
  <script>
      function save(){
        var teacher_name = $("#teacher_name").val();
        var email = $("#email").val();
        var work_address = $("#work_address").val();
        var password1 = $("#password1").val();
        var password2 = $("#password2").val();
        var phone = $("#phone").val();
        var describe = $("#describe").val();
        if (password1 != password2){
         alert("两次密码不一致，请重新输入");
         return;
        }
        $.post("",
                {
                    'teacher_name':teacher_name,
                    'email':email,
                    'work_address':work_address,
                    'password1':password1,
                    'password2':password2,
                    'phone':phone,
                    'describe':describe,
                },
                function(profileDict){
                    for (key_i in profileDict){
                      $("#"+key_i).val(profileDict[key_i]);
                      //$.growl.notice({ title: "1 Key", message: "+1" });
                    }
                    alert("修改成功");
        })
      }
      $(document).ready(function(){
        $('#profile').attr("href", "#");
        $("#form").validate({
          submitHandler:save,
          debug:false,
          rules:{
            phone:{
              required:true,
              minlength:11,
              maxlength:11,
              digits:true
            },
            password1:{
              legalPassword: true
            },
            password2:{
              equalTo:'#password1'
            }
          },
          messages:{
            phone:{
              minlength:"<span style=\"color:red\">请输入有效的手机号码</span>",
              maxlength:"<span style=\"color:red\">请输入有效的手机号码</span>",
              digits:"<span style=\"color:red\">请输入有效的手机号码</span>",
            }
          }
        });
      });
  </script>
 </body>
</html>