<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>管理测试</title>
		{% load staticfiles %}
		<!-- Bootstrap Styles-->
    <link href= "{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href= "{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href= "{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
    
    <link href= "{% static 'css/jquery.growl.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href="{% static 'css/google-fonts.css' %}" rel='stylesheet' type='text/css' />
    <!-- jQuert UI Styles -->
    <link href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" rel='stylesheet'/>
</head>
<body>
    <div id="wrapper">
         {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->
				
				<div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            高考招生系统教师端 <small>您好，<span id='namefield'></span></small>
                        </h1>
                    </div>
                </div> 
				<!--row-->
				<div class = "row">
					<div class = "col-md-12">
						<div class= "panel panel-default">
							<div class = "panel-body">
								<table class="table table-hover">
									<caption></caption>
									<thead>
										<tr>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody id="test_list">
									</tbody>
								</table>
                <div class = "row">
                  <div class = "col-md-3">
                    <button type="button" id="new_test">新建测试</button>
                  </div>
                </div>
							</div>
						</div>
					</div>
				</div>
   {% include 'teacher/include/footer.html' %}
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    <div id="dialog" title="新建测试">
      <form id="form">
        <fieldset style="padding:0; border:0; margin-top:25px;">
          <label for="year" style="display:block">年份</label>
          <select name="year" id="year" class="text ui-widget-content ui-corner-all" style="display:block;margin-bottom:12px; width:95%; padding: .4em;">
            <!--<option value="2017">2017</option>-->
          </select>
          <label for="place" style="display:block">地区</label>
          <select name="place" id="place" class="text ui-widget-content ui-corner-all" style="display:block;margin-bottom:12px; width:95%; padding: .4em;">
            <!--<option value="1">北京卷</option>-->
          </select>
          <label for="subject" style="display:block">科目</label>
          <select name="subject" id="subject" class="text ui-widget-content ui-corner-all" style="display:block;margin-bottom:12px; width:95%; padding: .4em;">
            <!--<option value="1">语文</option>-->
          </select>
          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
    {% include 'teacher/include/jsinclude.html' %}
    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
		<script>
      var testlist = [];
      function list_test(){
        var item = "";
        var edit_tag, release_tag, delete_tag;
        $('#test_list').empty();
        for(var i = 0; i < testlist.length; ++i){
          edit_tag = String(i)+"_edit";
          release_tag = String(i)+"_release";
          withdraw_tag = String(i)+"_withdraw";
          delete_tag = String(i)+"_delete";
          item = "<tr><td style=\"font-family:宋体; font-size:18px\">"+testlist[i]['year']+" "+testlist[i]['place']+" "+testlist[i]['subject'];
          item += "</td><td><button type=\"button\" id=\""+edit_tag+"\" class = \"btn btn-info btn-xs\">编辑</button>\n";
          if(testlist[i]['released'].charAt(0)=='N')
            item += "<button type=\"button\" id=\""+release_tag+"\" class = \"btn btn-success btn-xs\">发布</button>\n";
          else
            item += "<button type=\"button\" id=\""+withdraw_tag+"\" class = \"btn btn-warning btn-xs\">撤回</button>\n";
          item += "<button type=\"button\" id=\""+delete_tag+"\" class = \"btn btn-danger btn-xs\">删除</button>\n</td></tr>";
          $('#test_list').append(item);
          $('#'+edit_tag).click(function(){
            var parse = this.id.split("_");
						var row = parseInt(parse[0]);
            window.location="/teacher/edit_test/"+testlist[row]['id'];
          });
          if(testlist[i]['released'].charAt(0)=='N'){
            $('#'+release_tag).click(function(){
              var parse = this.id.split("_");
              var row = parseInt(parse[0]);
              $.post("/backend/release_test/", {'id':testlist[row]['id']}, function(ret){
                if(ret['success'].charAt(0) == 'N'){
                  $.growl.error({ title: "发布失败", message: ret['message'] });
                }
              });
              refresh();
            });
          }
          else{
            $('#'+withdraw_tag).click(function(){
              var parse = this.id.split("_");
              var row = parseInt(parse[0]);
              $.post("/backend/withdraw_test/", {'id':testlist[row]['id']}, function(ret){
                if(ret['success'].charAt(0) == 'N'){
                  $.growl.error({ title: "撤回失败", message: ret['message'] });
                }
              });
              refresh();
            });
          }
          $('#'+delete_tag).click(function(){
            var parse = this.id.split("_");
						var row = parseInt(parse[0]);
            $.post("/backend/remove_test/", {'id':testlist[row]['id']}, function(ret){
              if(ret['success'].charAt(0) == 'N'){
                $.growl.error({ title: "删除失败", message: ret['message'] });
              }
              refresh();
            });
          });
        }
      }
      function refresh(){
        $.post("/backend/test_list_all/", {}, function(ret){
          testlist = ret;
          list_test();
        });
      }
      function submit_dialog(){
        var yearval = $('#year').val();
        var placeval = $('#place').val();
        var subjectval = $('#subject').val();
        $('#dialog').dialog("close");
        /*
        $.growl.notice({title:"year", message:yearval});
        $.growl.notice({title:"place", message:placeval});
        $.growl.notice({title:"subject", message:subjectval});
        $.growl.notice({title:"Add new test", message:"test"});
        */
        $.post("/backend/add_test/", {"year":yearval, "place":placeval, "subject":subjectval}, function(ret){
          if(ret['success'].charAt(0) == 'N'){
            $.growl.error({ title: "添加失败", message: ret['message'] });
          }
          else{
            $.growl.notice({ title: "添加成功", message: "成功新建估分测试" });
          }
          refresh();
        });
      }
			$(document).ready(function(){
				//CSRF token (See https://docs.djangoproject.com/en/1.9/ref/csrf/)
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
						beforeSend: function(xhr, settings) {
								if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader("X-CSRFToken", csrftoken);
								}
						}
				});
				$.post("/backend/get_teacher_name_by_id/", {'id':{{id}}}, function(ret){
					$('#namefield').append(ret['name']);
				});
        $.post("/backend/get_test_yearlist/", {}, function(ret){
          for(var i = 0; i < ret.length; ++i){
            $("#year").append("<option value="+ret[i]['num']+">"+ret[i]['str']+"</option>");
          }
        });
        $.post("/backend/get_test_placelist/", {}, function(ret){
          for(var i = 0; i < ret.length; ++i){
            $("#place").append("<option value="+ret[i]['num']+">"+ret[i]['str']+"</option>");
          }
        });
        $.post("/backend/get_test_subjectlist/", {}, function(ret){
          for(var i = 0; i < ret.length; ++i){
            $("#subject").append("<option value="+ret[i]['num']+">"+ret[i]['str']+"</option>");
          }
        });
				
        $('#test_management').addClass("active-menu");
        $('#test_management').attr("href", "#");
        $.post("/backend/test_list_all/", {}, function(ret){
          testlist = ret;
          list_test();
        });
			});
		</script>
    <script>
    $( "#dialog" ).dialog({
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "确认":submit_dialog,
        "取消": function() {
          $("#dialog").dialog( "close" );
        }
      },
      close: function() {
        $("#form")[0].reset();
      }
    });
    $("#new_test").click(function(){
      $( "#dialog" ).dialog("open");
    });
    </script>
</body>
</html>
