<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     {% load staticfiles %}
  <!-- Bootstrap Styles-->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />

  <title>查看志愿者</title>
 </head>
 <body>
<div id="wrapper">
   {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->

   <div id="page-wrapper">
    <div id="page-inner">
     <div class="row">
      <div class="col-md-offset-4 col-md-4">
       <h1 class="page-header" style="text-align: center"> 志愿者详情 </h1>
      </div>
     </div>
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-offset-3 col-md-6">
           <form class="form-horizontal" role="form" action="#" ">
             {% csrf_token %}
             <fieldset disabled="">

             <div class="form-group">
              <label for="account" class="col-sm-2 control-label" style="text-align:left;padding-left: 2em;">用户名: </label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="account" name="account" value="{{dict.user_name}}" />
              </div>
             </div>


             <div class="form-group">
              <label for="realName" style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label">姓名：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="realName" name="realName" value="{{dict.realName}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" class="col-sm-2 control-label" for="sex">性别：</label>
              <div class="col-sm-10">
               {% if dict.sex == 0 %}
                    <select class="form-control" id="sex" name="sex"> <option value="0" selected="selected">男</option><option value="1">女</option> </select>
               {% else %}
                    <select class="form-control" id="sex" name="sex"> <option value="0">男</option><option value="1" selected="selected">女</option> </select>
               {% endif %}
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="nation" class="col-sm-2 control-label">民族：</label>
              <div class="col-sm-10">
              <select class="form-control" id="nation" name="nation">
                {% for item in dict.nation.nationlist %}
                   {% if forloop.counter0 == dict.nation.nation %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="province" class="col-sm-2 control-label">生源地：</label>
              <div class="col-sm-10">
               <select class="form-control" id="province" name="province">
                {% for item in dict.province.provincelist %}
                   {% if forloop.counter0 == dict.province.province %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="school" class="col-sm-2 control-label">院系：</label>
              <div class="col-sm-4">
                  <select class="form-control" id="school" name="school">
                {% for item in dict.department.departmentlist %}
                   {% if forloop.counter0 == dict.department.department %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
              </div>
              <label style="text-align:left;padding-left: 2em;" for="stu_class" class="col-sm-2 control-label">班级：</label>
              <div class="col-sm-4">
               <input type="text" class="form-control" id="stu_class" name="stu_class" value="{{dict.class}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="relTeacher" class="col-sm-2 control-label">分管组：</label>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="relTeacher" name="relTeacher" value="{{dict.distribute}}" />
              </div>
             </div>

             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="phone" class="col-sm-2 control-label">手机：</label>
              <div class="col-sm-10">
               <input type="number" class="form-control" name="phone" id="phone" value="{{dict.phone}}" />
              </div>
             </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="email" class="col-sm-2 control-label">邮箱：</label>
              <div class="col-sm-10">
               <input type="email" class="form-control" id="email" name="email" value="{{dict.email}}" />
              </div>
             </div>
             <div class="form-group">
             <label style="text-align:left;padding-left: 2em;" for="qqn" class="col-sm-2 control-label">QQ：</label>
             <div class="col-sm-10">
              <input type="number" class="form-control" id="qqn" name="qqn" value="{{dict.qqn}}" />
             </div>
            </div>
               <div class="form-group">
             <label style="text-align:left;padding-left: 2em;" for="weichat" class="col-sm-2 control-label">微信：</label>
             <div class="col-sm-10">
              <input type="text" class="form-control" id="weichat" name="weichat" value="{{dict.weichat}}" />
             </div>
            </div>
             <div class="form-group">
              <label style="text-align:left;padding-left: 2em;" for="comment" class="col-sm-2 control-label">备注：</label>
              <div class="col-sm-10">
               <textarea type="text" class="form-control" id="comment" name="comment" rows="10" placeholder="备注信息">{{dict.comment}}</textarea>
              </div>
             </div>
            </fieldset>
             <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
               <button type="button" onclick="gourl('{{dict.id}}')" class="btn btn-primary" value="save">编辑</button>
              </div>
             </div>

           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
        {% include 'teacher/include/footer.html' %}
    </div>
    <!-- /. PAGE INNER  -->
   </div>
   <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  --> {% include 'teacher/include/jsinclude.html' %}
 <script>
  function gourl(id) {
    window.location = "/teacher/volunteer_info_edit?id="+id;
  }
 </script>
 </body>
</html>