<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>教师主页</title>
    {% load staticfiles %}
		{% include 'teacher/include/cssinclude.html' %}
</head>
<body>
    <div id="wrapper">
         {% include 'teacher/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'teacher/include/navside.html' %}
        <!-- /. NAV SIDE  -->

				<div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            高考招生系统教师端 <small>您好，<span id='namefield'></span></small>
                        </h1>
                    </div>
                </div>
				<!--row-->

				<div class= "panel panel-default">
					<div class = "panel-body">
						<form class="form-search" id = "form">
							<div class="row">
								<div class="col-md-2">
									<label class = "control-label" for="pic_url">图片链接：</label>
								</div>
								<div class="col-md-8">
									<input type="text"  id="pic_url" name = "pic_url" style="width:80%"></input>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-2">
									<label class = "control-label" for="message_url">图文消息链接：</label>
								</div>
								<div class="col-md-8">
									<input type="text" id="message_url" name = "message_url" style="width:80%"></input>
								</div>
							</div>
              <br>
              <div class="row">
								<div class="col-md-2">
									<label class = "control-label" for="title">标题：</label>
								</div>
								<div class="col-md-8">
									<input type="text"  id="title" name = "title" style="width:80%"></input>
								</div>
							</div>
							<br>
              <div class="row">
								<div class="col-md-2">
									<label class = "control-label" for="abstract_text">摘要：</label>
								</div>
								<div class="col-md-8">
									<textarea id="abstract_text" name = "abstract_text" style="width:80%"></textarea>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-md-1">
									<button type="submit" class="btn btn-primary" id = "add">发布</button>
								</div>
							</div>

						</form>
					</div>
				</div>
   {% include 'teacher/include/footer.html' %}
			</div>
             <!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    {% include 'teacher/include/jsinclude.html' %}
    <script src="{% static 'jquery-validation-1.14.0/dist/jquery.validate.min.js' %}"></script>
		<script src="{% static 'jquery-validation-1.14.0/dist/additional-methods.js' %}"></script>
		<script src="{% static 'jquery-validation-1.14.0/dist/localization/messages_zh.js' %}"></script>
		<script>
      function formSubmit(){
        var pic_link = $('#pic_url').val();
        var msg_link = $('#message_url').val();
        var title_text = $('#title').val();
        var abstract_text = $('#abstract_text').val();
        $.post("/backend/push_stack/", {'pic_url':pic_link, 'msg_url':msg_link, 'title':title_text, 'abstract':abstract_text}, function(ret){
          if(ret['success'].charAt(0)=='Y'){
						$.growl.notice({ title: "添加成功", message: "推送消息已更新" });
					}
					else{
						$.growl.error({ title: "添加失败", message: ret['message'] });
					}
        });
      }
			$(document).ready(function(){
				//CSRF token (See https://docs.djangoproject.com/en/1.9/ref/csrf/)
				var csrftoken = getCookie('csrftoken');
				$.ajaxSetup({
						beforeSend: function(xhr, settings) {
								if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader("X-CSRFToken", csrftoken);
								}
						}
				});
				$.post("/backend/get_teacher_name_by_id/", {'id':{{id}}}, function(ret){
					$('#namefield').append(ret['name']);
				})

        $('#wechat_push_stack').addClass("active-menu");
        $('#wechat_push_stack').attr("href", "#");
        $("#form").validate({
  				submitHandler:formSubmit,
  				debug:false,
  				rules:{
  					pic_url:{
              required:true,
              url:true
            },
            message_url:{
              required:true,
              url:true
            },
            title:{
              maxlength:20
            },
            abstract_text:{
              maxlength:50
            }
  				}
  			});
			});
		</script>


</body>
</html>
