<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     {% load staticfiles %}
  <!-- Bootstrap Styles-->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
   <!-- profile-->
  <link href="{% static 'assets/css/profile/profile.css' %}" rel="stylesheet" type="text/css" />
  <div id="wrapper">
  <title>查看老师信息</title>
 </head>
 <body>
 {% include 'student/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'student/include/navside.html' %}
        <!-- /. NAV SIDE  -->


   <div id="page-wrapper">
    <div id="page-inner">
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-12">
           <table class="table table-hover" style="text-align: center">
                      <thead style="text-align: center">
                        <tr style="text-align: center">
                          <th style="text-align: center">身份</th>
                          <th style="text-align: center">姓名</th>
                          <th style="text-align: center">手机</th>
                          <th style="text-align: center">邮箱</th>
                          <th style="text-align: center">办公地址</th>
                        </tr>
                      </thead>
                      <tbody id="test_list">
                      {% for item in dict %}
                   <tr style="text-align: center">
                          <td style="text-align: center">{{item.profession}}</td>
                          <td style="text-align: center">{{item.name}}</td>
                          <td style="text-align: center">{{item.phone}}</td>
                          <td style="text-align: center">{{item.email}}</td>
                          <td style="text-align: center">{{item.address}}</td>

                        </tr>

               {% endfor %}
                      </tbody>
                    </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
       {% include 'student/include/footer.html' %}
    </div>
    <!-- /. PAGE INNER  -->
   </div>
   <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->
{% include 'student/include/jsinclude.html' %}

 </body>
</html>