<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>

   {% load staticfiles %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% include 'student/include/cssinclude.html' %}
     <title>联系方式</title>
 </head>
 <body>
 <div id="wrapper">
  {% include 'student/include/navtop.html' %} {% include 'student/include/navside.html' %}


   <div id="page-wrapper">
    <div id="page-inner">
     <!--row-->
     <div class="row">
      <div class="col-xs-12">
       <div class="panel panel-default">
        <div class="panel-body">
                      {% for item in dict %}
                      <div class="row">
             <div class="col-xs-5">{{item.profession}}：{{item.name}}</div>
             <div class="col-xs-7">手机：{{item.phone}}</div>
                          </div>
            <div class="row">
             <div class="col-xs-12">邮箱：{{item.email}}</div>
                </div>
            <div class="row">
             <div class="col-xs-12">地址：{{item.address}}</div>
             </div>
             <br/>

               {% endfor %}

        </div>
       </div>
      </div>
     </div>
       {% include 'student/include/footer.html' %}
    </div>
    <!-- /. PAGE INNER  -->
   </div>
   <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->
{% include 'student/include/jsinclude.html' %}
  <script>
    $(document).ready(function(){
      $('#link_contact').addClass("active-menu");
      $('#link_contact').attr("href", "#");
    });
  </script>
 </body>
</html>