<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
		{% load static from staticfiles %}
		<!-- Bootstrap Styles-->
		<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
		<!-- FontAwesome Styles-->
		<link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
		<!-- Morris Chart Styles-->
		<link href="{% static "js/morris/morris-0.4.3.min.css" %}" rel="stylesheet" />
		<!-- Custom Styles-->
		<link href="{% static "css/custom-styles.css" %}" rel="stylesheet" />
		<!-- Google Fonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <!-- rel="stylesheet" -->
</head>

<body>
		<div id="wrapper">

    {% include 'student/include/navtop.html' %} {% include 'student/include/navside.html' %}
				<div id="page-wrapper" style="margin-left: 260px">
						<div id="page-inner">

								<div class="row" style = "margin-left: auto;margin-right: auto;text-align:center;width:100%">
                                    {% include 'student/clock_templete.html' %}
								</div>

                                <div class="row" style = "margin-left: auto;margin-right: auto;text-align:center">
                                    <label id = "problem_num" style="width:100%;font-size:20px">本题题号：</label>
                                </div>
                                <div class="row" style = "margin-left: auto;margin-right: auto;margin-top:10px;text-align:center">
                                    <label id = "problem_type" style="width:100%;font-size:20px">本题类型：</label>
                                </div>

                                <div id = "problem_pic" class="row" style = "width:500px; margin-left: auto;margin-right: auto;margin-top:20px">
                                    <img src="/static/images/8.jpg" style="width:100%">
                                </div>


                                <div class="row" style = "margin-left: auto;margin-right: auto;margin-top:60px;text-align:center">
                                    <label id = "problem_full_score" style="width:100%;font-size:20px">本题满分：</label>
                                </div>
                                <!--div class="row" style = "margin-left: auto;margin-right: auto;margin-top:20px;text-align:center">
                                    <lebel style="font-size:20px">请输入您估的分数：</lebel><input type="text" id = "tmp_student_score" align="center">
                                </div-->
                                <div class="row" style = "margin-left: auto;margin-right: auto;margin-top:20px;text-align:center">
                                    <lebel style="font-size:20px">请选择您估的分数：</lebel><select id="student_score" name="nation" style="width:100px" align="center">
                                        <option value=0 selected="selected">11</option>
                                        <option value=44>22</option>
                                    </select>
                                </div>

                                <div class="row" style = "margin-left: auto;margin-right: auto;margin-top:20px;align:center;text-align:center">
                                    <button id = "submit_test" style="font-size:20px">提交本题估分结果</button>
                                    <!--div class="button" id = "btn1" href = "https://www.baidu.com"><div class="shine"></div>开始测试</div-->
                                </div>
                                <div id = 'test_name' name = {{test_name}}></div>
				<!--
				<footer><p>Copyright &copy; 2016.Company name All rights reserved.</p></footer>
				-->
						</div>
						<!-- /. PAGE INNER	-->
				</div>
				<!-- /. PAGE WRAPPER	-->
		</div>
{% include 'student/include/footer.html' %}
		<!-- /. WRAPPER	-->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
		<!-- Bootstrap Js -->
		<script src="{% static "js/bootstrap.min.js" %}"></script>

		<!-- Metis Menu Js -->
		<script src="{% static "js/jquery.metisMenu.js" %}"></script>
{% include 'student/include/jsinclude.html' %}
		<!-- Custom Js -->
		<script>
		    var rst = document.getElementById('reset');
		    rst.click();
		    var st = document.getElementById('start');
	        st.click();
	        var cur_sec = 0;
			var ff = function()
			{
			    show_time(cur_sec);
			    cur_sec++;
			}
            setInterval("ff()", 1000);

            /*
            $.post("/student/get_all_tests/", {}, function(ret){
			    user_array = ret.tests;
				show_list();
			})
            */
            /*
            $('#problem_pic').empty();
            $('#problem_pic').append("<img src=\"/static/images/2017_beijing_chinese_1_1_subjective\" style=\"width:100%\">");
            */
            var ka=document.getElementById("test_name");
            //alert(ka.getAttribute("name"));
            var problem_list = [];
            var time_list = [];//时间
            var score_list = [];//分数
            var cur_problem = 0;//当前的题目是第几个
            var problem_info = {};//当前题目的信息，存在字典里
            $.post("/student/get_problem_list/", {'test_name':ka.getAttribute("name")}, function(ret){
			    problem_list = ret.problem_list;//获取题目id列表
			    alert(problem_list);
			    //console.log('hehe' + problem_list)
                $('#submit_test').click();
			});

			var check_valid = function()//检查分数合法性
			{
                var num = parseInt($("#student_score").val());
                if(num == NaN)
                {
                    return false;//不能转成数
                }
                if(num % 1 != 0)
                {
                    return false;//不是整数
                }
                var max_score = parseInt(problem_info['problem_full_score']);
                //alert('score' + String(num));
                //alert('max' + String(max_score));
                if(num < 0 || num > max_score)
                {
                    return false;
                }
                if($("#problem_type").val() == "客观")
                {
                    if(num != 0 && num != max_score)
                    {
                        return false;
                    }
                }
                return true;
			}

			$('#submit_test').click(function(){
			    //alert('click');
			    if(cur_problem > problem_list.length - 1)
                 {
                    //已经做完题目
                    time_list.push(cur_sec);
                    score_list.push(parseInt($("#student_score").val()));
                    alert('您已经完成本套题估分');
                    var ret_info = {'test_name':ka.getAttribute("name"),"time_list":String(time_list),'score_list':String(score_list)};
                    $.post("/student/submit_test_result/", ret_info, function(ret){
                        alert(time_list);
                        alert(score_list);
                    });
                    window.location="/student/score";
                    return;
                 }
			    $.post("/student/get_problem_info/", {'problem_id' : problem_list[cur_problem]}, function(ret){
			    	//alert("cur" + cur_problem);
			    	//alert(problem_list[cur_problem]);
                     //alert(problem_list.length);
                     /*
                     if(cur_problem > 0 && check_valid() != true)
                     {
                        alert("您填写的估分结果不合法");
                        return;
                     }

                     */

                     if(cur_problem > 0)//用户点击
                     {
                            time_list.push(cur_sec);
                            score_list.push(parseInt($("#student_score").val()));
                            alert('本题已提交，用时:' + cur_sec + "秒");
                            var top = document.body.scrollTop || document.documentElement.scrollTop;
                            scrollBy(0,-top);//返回顶部
                            cur_sec = 0;
                     }
                     document.getElementById("student_score").value = "";
                     //alert('#第几题：' + String(cur_problem+1));
                     problem_info = ret.problem_info;
                     document.getElementById('problem_num').innerHTML = "本题题号：" + String(problem_info['problem_num']);
                     document.getElementById('problem_type').innerHTML = "本题类型：" + String(problem_info['problem_type']);
                     document.getElementById('problem_full_score').innerHTML = "本题满分：" + String(problem_info['problem_full_score']);
                     $('#problem_pic').empty();
                     //alert(String(problem_info['problem_pic']));
                     //$('#problem_pic').append("<img src=\"/static/images/2017_beijing_chinese_1_1_subjective\" style=\"width:100%\">");
                     var src = '<img src=' +  String(problem_info['problem_pic']) + ' style=\"width:100%\">';
                     console.log(src);
                     $('#problem_pic').append(src);
                     $('#student_score').empty();
                     //alert('heh');
                     if(String(problem_info['problem_type']) == "主观")
                     {
                        //alert('heh1');
                        var i = 1;
                        $('#student_score').append("<option value=0 selected=\"selected\">0</option>");
                        for(i = 1;i <= parseInt(problem_info['problem_full_score']);i++)
                        {
                            $('#student_score').append("<option value=" + String(i) + ">" + String(i) + "</option>");
                        }
                     }
                     else
                     {
                        //alert('heh2');
                        $('#student_score').append("<option value=0 selected=\"selected\">0</option>");
                        $('#student_score').append("<option value=" + String(problem_info['problem_full_score']) + ">" + String(problem_info['problem_full_score']) + "</option>");
                     }
                     //alert(src);
                     cur_problem++;
				});
			});

			$(document).ready(function(){
				$('#username').append({{ id }});
				/*
				$.post("/backend/get_user_by_id", {'id': {{ id }} }, function(data, status, xhr){
					$('#username').append(data['username']);
				})
				*/
			});
		</script>

</body>

</html>