<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

 <head>

   {% load staticfiles %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {% include 'student/include/cssinclude.html' %}
     <title>排名</title>
 </head>

<body>
		<div id="wrapper">
  {% include 'student/include/navtop.html' %} {% include 'student/include/navside.html' %}
				<div id="page-wrapper">
						<div id="page-inner">


								<div class="row">
										<div class="col-md-12">
											<table class="table table-hover" style="text-align: center">
                      <thead style="text-align: center">
                        <tr style="text-align: center">
                          <th style="text-align: center">科目</th>
                          <th style="text-align: center">分数</th>
                          <th style="text-align: center">排名</th>
                        </tr>
                      </thead>
                      <tbody id="test_list">
                      {% for item in dict %}
                   <tr style="text-align: center">

                          <td style="text-align: center">{{item.name}}</td>
                          <td style="text-align: center">{{item.score}}</td>
                          <td style="text-align: center">{{item.rank}}</td>
                        </tr>

               {% endfor %}
                      </tbody>
                    </table>

										</div>
								</div>
				


		 
				
				
				

{% include 'student/include/footer.html' %}
						</div>
						<!-- /. PAGE INNER	-->
				</div>
				<!-- /. PAGE WRAPPER	-->
		</div>
		<!-- /. WRAPPER	-->
		<!-- JS Scripts-->
		<!-- jQuery Js -->
		<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
		<!-- Bootstrap Js -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	 
		<!-- Metis Menu Js -->
		<script src="{% static 'js/jquery.metisMenu.js' %}"></script>

	

	
    <script>
    $(document).ready(function(){
      $('#link_rank').addClass("active-menu");
      $('#link_rank').attr("href", "#");
    });
    </script>
		


</body>

</html>