<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

 <head>

   {% load staticfiles %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 {% include 'student/include/cssinclude.html' %}
     <title>估分测试</title>
 </head>

<body>
		<div id="wrapper">
				  {% include 'student/include/navtop.html' %} {% include 'student/include/navside.html' %}
				<div id="page-wrapper">
						<div id="page-inner">


								<div class="row">
										<div class="col-md-12">
												<h1 class="page-header">
														估分测试 <small><span id="username">您好，</span></small>
												</h1>
                        <h2 class="page-header"><small>注意：开始估分后，我们将显示并记录您每道题估分所用时间。</small></h2>
										</div>
								</div>

                                <!--div class="row">
                                    <include clock declaration>
								</div-->
                                <div class = "row">
                  <div class = "col-md-12 col-lg-10">
                    <table class="table table-hover">
                      <caption>试题列表</caption>
                      <thead>
                        <tr>
                          <th>名称</th>
                          <th>状态</th>
                          <th>开始测试</th>
                        </tr>
                      </thead>
                      <tbody id="test_list">
                      </tbody>
                    </table>
                  </div>
                </div>

			{% include 'student/include/footer.html' %}
						</div>
						<!-- /. PAGE INNER	-->
				</div>
				<!-- /. PAGE WRAPPER	-->
		</div>
		<!-- /. WRAPPER	-->
	 {% include 'student/include/jsinclude.html' %}
		<!-- Custom Js -->
		<script>
			$(document).ready(function(){
				var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $('#link_score').addClass("active-menu");
        $('#link_score').attr("href", "#");

				$.post("/backend/get_student_name_by_id/", {'id': {{ id }} }, function(data, status, xhr){
					$('#username').append(data['name']);
				})

			});
			var user_array = [];
			var done_array = [];
			function show_list(){
				var tag1, tag2, tag3;

				var listitem = "";
				for(var i = 0; i < user_array.length; ++i){
					tag1 = String(i)+'_A';
					tag2 = String(i)+'_Aname';
					listitems="<tr><td>"+user_array[i]+"</td><td>"+done_array[i]+"</td>";
                    listitems+="<td><button type=\"button\" id=\""+tag1+"\" class = \"btn btn-success btn-xs\">开始测试</button></td>\n";
                    listitems+="</tr>";
                    $('#test_list').append(listitems);
					$('#'+tag1).click(function(){
					    var parse = this.id.split("_");
						var row = parseInt(parse[0]);
                        window.location="/student/do_test?test_name="+user_array[row];
						//No need to examine the suffix since we are dealing with 'tag1'
			        })
			    }
			}
			$('#test_list').empty();

			$.post("/student/get_all_tests/", {}, function(ret){
			    user_array = ret.tests;
			    done_array = ret.done_list;
				show_list();
			})

			var cur_sec = 0;
			var ff = function()
			{
			    cur_sec++;
			}
            //setInterval("ff()", 1000);
		</script>

</body>

</html>
