<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>选择日期</title>
		{% load staticfiles %}
		<!-- Bootstrap Styles-->
    <link href= "{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href= "{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
        <!-- Custom Styles-->
    <link href= "{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
     <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href="{% static "btn_css/round_btn.css" %}" rel="stylesheet" />
    <!-- jQuert UI Styles -->
    <link href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" rel='stylesheet'/>
</head>
<body>
    <div id="wrapper">
         {% include 'volunteer/include/navtop.html' %}
        <!--/. NAV TOP  -->
		{% include 'volunteer/include/navside.html' %}
        <!-- /. NAV SIDE  -->

		<div id="page-wrapper" >
            <div id="page-inner">
				<div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            选择日期 <small>高考估分系统志愿者端  您好，<span id='namefield'></span></small>
                        </h1>
                    </div>
                </div>
				<!--row-->
				<div class = "row">
					<div class = "col-md-12">
						<div class= "panel panel-default">
							<div class = "panel-body">
								<table class="table table-hover">
									<caption>请选择要填写的活动</caption>
									<thead>
										<tr>
											<th>活动名称</th>
											<th>发起人</th>
											<th>状态</th>
											<th>进入填写页面</th>
											<th></th>
										</tr>
									</thead>
									<tbody id="ac_list">
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- /. ROW -->
		    {% include 'teacher/include/footer.html' %}
				</div><!-- /. PAGE INNER  -->
        </div>
         <!-- /. PAGE WRAPPER  -->
    </div>
     <!-- /. WRAPPER  -->
    <div id="dialog" title="选择时间">
      <form id="form">
          <table id = "time_table" class="table table-hover">
                <tr>
                    <th>2016/1/3</th>
                    <th><input type="checkbox" value="Bike" checked="checked" /></th>
                </tr>
                <tr>
                    <th>2016/1/4</th>
                    <th><input type="checkbox" value="Bike" checked="checked" /></th>
                </tr>
              <tr>
                    <th>2016/1/4</th>
                    <th><input type="checkbox" value="Bike" checked="checked" /></th>
                </tr>
              <tr>
                    <th>2016/1/4</th>
                    <th><input type="checkbox" value="Bike" checked="checked" /></th>
                </tr>
              <tr>
                    <th>2016/1/4</th>
                    <th><input type="checkbox" value="Bike" checked="checked" /></th>
                </tr>
              <tr>
                    <th>2016/1/4</th>
                    <th><input type="checkbox" value="Bike" checked="checked" /></th>
                </tr>
        </table>
        <!--fieldset style="padding:0; border:0; margin-top:100px;">
          <label for="place" style="display:block">地区</label>
          <select name="place" id="place" class="text ui-widget-content ui-corner-all" style="display:block;margin-bottom:12px; width:95%; padding: .4em;">
          </select>
          <label for="subject" style="display:block">科目</label>
          <select name="subject" id="subject" class="text ui-widget-content ui-corner-all" style="display:block;margin-bottom:12px; width:95%; padding: .4em;">
          </select>
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset-->
      </form>

    </div>

    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Js -->
    <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'assets/js/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'assets/js/morris/morris.js' %}"></script>


	<script src="{% static 'assets/js/easypiechart.js' %}"></script>
	<script src="{% static 'assets/js/easypiechart-data.js' %}"></script>

    <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
		<!-- Two JS functions to ensure CSRF token. (See https://docs.djangoproject.com/en/1.9/ref/csrf/)-->
		<script>
		function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
						var cookies = document.cookie.split(';');
						for (var i = 0; i < cookies.length; i++) {
								var cookie = jQuery.trim(cookies[i]);
								// Does this cookie string begin with the name we want?
								if (cookie.substring(0, name.length + 1) === (name + '=')) {
										cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
										break;
								}
						}
				}
				return cookieValue;
		}
		function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		</script>

<script>
    $(document).ready(function(){
        //CSRF token (See https://docs.djangoproject.com/en/1.9/ref/csrf/)
        var csrftoken = getCookie('csrftoken');
        $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                }
        });
        $.post("/volunteer/get_volunteer_name_by_id/", {'id':{{id}}}, function(ret){
            $('#namefield').append(ret['name']);
        });
    });
    var user_array = [];
    var time_array = [];
    var act_id = "";
    function show_list(){
        $('#ac_list').empty();
        var tag1, tag2, tag3;
        var listitem = "";
        for(var i = 0; i < user_array.length; ++i){
            tag1 = String(i)+'_A';
            tag1 = String(user_array[i]['activity_id'])+'_Aname';
            var tt_begin = "<div class=\"col-md-12\" style = \"width:100%\"><label id = \"" + tag2 + "\" style = \"font-size: 30px\">";
            var data = user_array[i];
            var tt_end = "</label><div class=\"button blue\" style = \"margin-right: auto;text-align:right;float:right\" id = \"" + tag1 + "\">填写</div></div>"
            listitems="<tr><td>"+user_array[i]['name']+"</td><td>"+user_array[i]['proposer']+"</td><td>"+user_array[i]['state']+"</td>";
			listitems+="<td><button type=\"button\" id=\""+tag1+"\" class = \"btn btn-info btn-xs\">填写</button>\n";
            $('#ac_list').append(listitems);
            $('#'+tag1).click(function(){
                var parse = this.id.split("_");
                var row = parse[0];
                $('#time_table').empty();
                $.post("/volunteer/get_activity_time/", {'activity_id':row}, function(ret){
                    act_id = row;
                    time_array = ret.time;
                    var index = 0;
                    for(index = 0;index < ret.time.length;index++)
                    {
                        var checkbox_id = String(index) + "_checkbox_id";
                        if(ret.checked[index] == '0')
                        {
                            var a = "<tr><th>" + ret.time[index] + "</th><th><input id=\"" + checkbox_id + "\" type=\"checkbox\"/></th></tr>";
                        }
                        else
                        {
                            var a = "<tr><th>" + ret.time[index] + "</th><th><input id=\"" + checkbox_id + "\" type=\"checkbox\" checked = \"checked\"/></th></tr>";
                        }
                        $('#time_table').append(a);
                    }
                });
                $( "#dialog" ).dialog("open");
                //No need to examine the suffix since we are dealing with 'tag1'
            })
        }
    }
    $('#test_list').empty();
    $.post("/volunteer/get_all_activity/", {}, function(ret){
        user_array = ret.activity;
        show_list();
    })

    function refresh(){
        $.post("/volunteer/get_all_activity/", {}, function(ret){
            user_array = ret.activity;
            show_list();
        });
    }
      function submit_dialog(){
        ret_list = [];
        var index = 0;
        for(index = 0;index < time_array.length;index++)
        {
            var checkbox_id = String(index) + "_checkbox_id";
            var ids = document.getElementById(checkbox_id);
            if(ids.checked)
            {
                ret_list.push('1');
            }
            else
            {
                ret_list.push('0');
            }
        }
        $.post("/volunteer/submit_time/", {"activity_id":act_id,'time':String(time_array),'checked':String(ret_list)}, function(ret){
            $('#dialog').dialog("close");
            if(ret.success)
            {
                alert('成功提交');
            }
            else
            {
                alert('因未知原因提交失败');
            }
            refresh();
        });
      }
</script>
    <script>
    $( "#dialog" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "确认":submit_dialog,
        "取消": function() {
          $("#dialog").dialog( "close" );
        }
      },
      close: function() {
        $("#form")[0].reset();
      }
    });
    $("#new_test").click(function(){
      $( "#dialog" ).dialog("open");
    });
    </script>
</body>
</html>
