<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=9" /> 
  <title>清华招生 - 登录 &amp; 注册</title> 
  <link href="{% static 'assets/css/login/style.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/login/avgrund.css' %}" rel="stylesheet" />
  <link href="{% static 'assets/css/login/yzm.css' %}" rel="stylesheet" />
 </head>
 <body> 
  <div id="box"> 
   <div id="content"> 
    <div id="box_left"> 
     <h1>注册</h1> 
     <div id="login">
       输入您的注册信息
      <br /> 
      <form name="login" action="#" accept-charset="utf-8">
       {% csrf_token %}
       <input type="text" name="register_username" placeholder="用户名" id="user" class="register user" title="用户名" required="" />
       <input type="email" name="register_email" placeholder="电子邮件" id="email" class="register email" title="电子邮件" required="" />

       <input type="password" name="register_password" id="password" class="register password" title="Password" required="" style="width: 90px;margin-right: 3px; display: inline"/>
       <input type="password" name="register_repeat_password" id="rpassword" class="register password" title="Repeat Password" required="" style="width: 90px;margin-right: 3px; display: inline" />

       <input type="text" placeholder="注册码" id="invited" class="register " title="注册码" required="" />

       <!-- Label for PopupBox --> 
       <label for="terms" class="check_terms" id="lblAssociateWithCheckBox" title="Terms of Use"> <input type="checkbox" class="check_box" id="terms" required="" /> 我同意 <a href="#" id="tou">注册协议</a>.</label> 
       <input type="button" id='register' value="加入我们" class="btn_register" />
      </form> 
     </div> 
    </div> 
    <div id="box_right"> 
     <h1>登录</h1> 
     
     <div id="login1">
       输入您的帐户登录：
      <br /> 
      <form name="login" action="/logincheck/" method="POST" accept-charset="utf-8">
       {% csrf_token %}

       <input type="text" placeholder="用户名" name="login_username" id="l_user" class="login user" title="Username" required="" style="float: right" />
        <input type="password" name="login_password" id="l_password" class="login password" title="Password" required="" style="float: right;margin-right: 10px" />
       
        <img src="/yzm/150/30" title="看不清？点击一下" class="yzm" onclick="refresh(this)"/>

        <input type="text" name="login_yzm" class="login yzm" style="width: 120px;height: 25px;float: right;margin-top: 20px;padding-left: 10px;padding-right: 10px;" placeholder="看不清请点击图片" required="" />

       <input type="submit" name="student" value="学生登录" class="btn_login" />
       <input type="submit" name="teacher" value="教师登录" class="btn_login" />
       <input type="submit" name="volunteer" value="志愿者登录" class="btn_login" />
       <label for="logged" class="check_logged" id="lblAssociateWithCheckBox1" title="Keep me logged in"> <input type="checkbox" class="check_box" id="logged" /> 记住登录</label>

      </form> 
     </div> 
     <div id="bottom_text">
       注册一个新账号? 
      <a href="javascript:document.getElementById('user').focus()" title="Create new account">注册</a>. 
      <br />忘记
      <a href="#" title="Recovery Password">密码</a> 或 
      <a href="#" title="Recovery Username">用户</a>? 
     </div> 
    </div> 
   </div> 
  </div> 
  <div class="footer">
   &copy; 2016 早睡早起 - 
   <a href="#" id="about" title="About">关于</a> - 
   <a href="#" id="contact" title="Contact">联系我们</a> - 
   <a href="#" id="info" title="Info">信息</a> 
  </div> 
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="{% static 'assets/js/login/flux.js' %}"></script>
  <script src="{% static 'assets/js/login/jquery.avgrund.js' %}"></script>
 <script>
  function refresh(img) {
   img.src='/yzm/150/30?code='+Math.random();

  }


  $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
  $(document).ready(function(){

          $("#register").click(function(){
        //   alert('{{csrf_token}}');
            var user = $("#user").val();
            var email = $("#email").val();
            var password = $("#password").val();
            var rpassword = $("#rpassword").val();
            var invited = $("#invited").val();

            if (password != rpassword){
             alert("两次密码不一致，请重新输入");
             return;
            }
            $.post("/register/",
                    {
                        'username':user,
                        'email':email,
                        'password':password,
                        'rpassword':rpassword,
                        'invited':invited,
                    },
                    function(dict){

                        alert(dict['result']);
            })
          });
      });
 </script>
 </body>
</html>