    {% load staticfiles %}
    <!-- Bootstrap Styles-->
    <link href= "{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href= "{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href= "{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
    
    <link href= "{% static 'css/jquery.growl.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href="{% static 'css/google-fonts.css' %}" rel='stylesheet' type='text/css' />
    <!-- jQuert UI Styles -->
    <link href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" rel='stylesheet'/>