<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
     <ul class="nav" id="main-menu">
      <li>
        <a href="/student"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
        <a href="/student/score"><i class="fa fa-desktop"></i> 在线估分</a>
        </li>
        <li>
        <a href="/student/rank"><i class="fa fa-bar-chart-o"></i> 查看排名</a>
        </li>

        <li>
        <a class="active-menu" href="/student/admit"><i class="fa fa-table"></i> 录取情况</a>
        </li>
        <li>
        <a href="/student/contact"><i class="fa fa-edit"></i> 联系我们 </a>
        </li>
         <li> <a href="/student/logout" id="logout"><i class="fa fa-desktop"></i>退出登录</a> </li>
     </ul>
    </div>
   </nav>
   <!-- /. NAV SIDE  -->