<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">

		<li>
				<a href="/student" id="link_dashboard"><i class="fa fa-dashboard"></i> 首页</a>
		</li>
		<li>
				<a href="/student/score" id="link_score"><i class="fa fa-desktop"></i> 在线估分</a>
		</li>
		<li>
				<a href="/student/rank" id="link_rank"><i class="fa fa-bar-chart-o"></i> 查看排名</a>
		</li>

		<li>
				<a href="/student/admit" id="link_admit"><i class="fa fa-table"></i> 录取情况</a>
		</li>
		<li>
				<a href="/student/contact" id="link_contact"><i class="fa fa-edit"></i> 联系我们 </a>
		</li>

	</ul>

    </div>
   </nav>
   <!-- /. NAV SIDE  -->