   {% load staticfiles %}
  <!-- JS Scripts-->
  <!-- jQuery Js -->
  <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <!-- Bootstrap Js -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <!-- Metis Menu Js -->
  <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
  <!-- Morris Chart Js -->
  <script src="{% static 'assets/js/morris/raphael-2.1.0.min.js' %}"></script>
  <!--<script src="{% static 'assets/js/morris/morris.js' %}"></script>-->
  <script src="{% static 'assets/js/easypiechart.js' %}"></script>
  <script src="{% static 'assets/js/easypiechart-data.js' %}"></script>
  <!-- Custom Js -->
  <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
  <!-- jQuery Growl Js-->
  <script src="{% static 'js/jquery.growl.js' %}"></script>
  <!-- jQuery UI Js-->
  <script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

  <script>
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  </script>
  <script>
  $(document).ready(function(){
    var csrftoken = getCookie('csrftoken');
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    var session_id = {{id}};
    var message_num;
    var score_num;
    $.post("/backend/get_teacher_alert_by_id/", {'id':session_id}, function(ret){
      message_num = parseInt(ret["message"]);
      score_num = parseInt(ret["score"]);
      //$('#message_text').empty();
      //$('#message_text').append("您有"+message_num+"条未读消息");
      $('#score_text').empty();
      $('#score_text').append(score_num+"个新的估分结果");
    });

  });
  </script>
