<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
     <ul class="nav" id="main-menu">
      <li> <a href="/teacher" id="dashboard"><i class="fa fa-dashboard"></i>首页</a> </li>
      <li> <a href="#"><i class="fa fa-sitemap"></i>管理学生<span class="fa arrow"></span></a>
       <ul class="nav nav-second-level">
        <li> <a href="/teacher/add_student" id="add_student">添加学生信息</a> </li>
        <li> <a href="/teacher/search_student" id="search_student">查看学生信息</a> </li>
        <li> <a href="/teacher/list_group" id="group_management">管理学生组</a>
        </li>
        <!--<li> <a href="/teacher/pushmsg" id="push_message">定向发布消息</a> </li>-->
       </ul> </li>
      <!--student infomation-->
      <li> <a href="#"><i class="fa fa-sitemap"></i>管理志愿者<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li> <a href="/teacher/add_volunteer" id="add_volunteer">添加志愿者信息</a> </li>
        <li> <a href="/teacher/search_volunteer" id="search_volunteer">查看志愿者信息</a> </li>
          <li> <a href="/teacher/manage_activity" id="manage_activity">管理活动</a> </li>
      </ul> </li>
      <!--volunteer infomation-->
      <li> <a href="/teacher/manage_test" id="test_management"><i class="fa fa-desktop"></i>管理估分测试</a> </li>
      <li> <a href="/teacher/logout" id="logout"><i class="fa fa-desktop"></i>退出登录</a> </li>
     </ul>
    </div>
   </nav>
   <!-- /. NAV SIDE  -->