<nav class="navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
     <a class="navbar-brand" href="/volunteer"><i class="fa fa-comments"></i> <strong>VOLUNTEER </strong></a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
     <!-- /.dropdown -->
     <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
      <ul class="dropdown-menu dropdown-alerts">
       <li> <a href="#">
         <div>
          <i class="fa fa-envelope fa-fw"></i> Message Sent
          <span class="pull-right text-muted small">4 min</span>
         </div> </a> </li>
       <li class="divider"></li>
       <li> <a href="#">
         <div>
          <i class="fa fa-tasks fa-fw"></i> New Task
          <span class="pull-right text-muted small">4 min</span>
         </div> </a> </li>
       <li class="divider"></li>
       <li> <a class="text-center" href="#"> <strong>See All Alerts</strong> <i class="fa fa-angle-right"></i> </a> </li>
      </ul>
      <!-- /.dropdown-alerts --> </li>
     <!-- /.dropdown -->
     <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
      <ul class="dropdown-menu dropdown-user">
       <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a> </li>
       <li class="divider"></li>
       <li><a href="/volunteer/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a> </li>
      </ul>
      <!-- /.dropdown-user --> </li>
     <!-- /.dropdown -->
    </ul>
   </nav>
   <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
     <ul class="nav" id="main-menu">
      <li> <a href="/volunteer"><i class="fa fa-dashboard"></i>首页</a> </li>
         <li> <a href="/volunteer/profile"><i class="fa fa-dashboard"></i>个人信息</a> </li>
      <!--li> <a href="#"><i class="fa fa-sitemap"></i> 查看学生<span class="fa arrow"></span></a>
       <ul class="nav nav-second-level">
        <li> <a href="/volunteer/add_student">添加学生信息</a> </li>
        <li> <a href="/volunteer/add_student_loadxls">批量导入学生信息</a> </li>
        <li> <a href="/volunteer/search_student">查看学生信息</a> </li>
        <li> <a href="#">管理学生组<span class="fa arrow"></span></a>
         <ul class="nav nav-third-level">
          <li> <a href="/volunteer/add_group">新建学生组</a> </li>
          <li> <a href="/volunteer/list_group">查看学生组</a> </li>
          <li> <a href="/volunteer/favourite">我关注的学生组</a> </li>
         </ul> </li>
        <li> <a href="/volunteer/pushmsg">定向发布消息</a> </li>
       </ul> </li-->
         <li> <a href="/volunteer/search_student"><i class="fa fa-sitemap"></i>查看学生</a> </li>
         <li> <a href="/volunteer/date_choose"><i class="fa fa-sitemap"></i>选择日期</a> </li>
         <!--li> <a href="/volunteer/date_choose"><i class="fa fa-sitemap"></i>选择日期</a> </li-->
      <!--student infomation-->
      <li> <a href="/volunteer/logout"><i class="fa fa-desktop"></i>退出登录</a> </li>
     </ul>
    </div>
   </nav>
<!-- /. NAV SIDE  -->
