<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>用户信息</title>
 </head>
 <body>
   {% load staticfiles %}
  <!-- Bootstrap Styles-->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
   <!-- profile-->
  <link href="{% static 'assets/css/profile/profile.css' %}" rel="stylesheet" type="text/css" />
  <div id="wrapper">
   {% include 'v_nav.html' %}
   <div id="page-wrapper">
    <div id="page-inner">
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-12">
           <form role = "form" action="#">
              {% csrf_token %}
            <h1>我的信息 User:{{dict.account}}</h1>
            <div class="contentform">
             <div class="leftcontact">


              <div class="form-group">
               <p>姓名<span>*</span></p>
               <!--span class="icon-case"><i class="fa fa-male"></i></span>
               <input value="{{dict.realName}}" type="text" name="volunteer_name" id="volunteer_name" required data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Nom' doit &ecirc;tre renseign&eacute;." /-->
               <input type="text" class="form-control" id="realName" name="realName" value="{{dict.volunteer_name}}" />
                  <div class="validation"></div>
              </div>

                 <div class="form-group">
               <p>性别<span>*</span></p>
               <select class="form-control" id="sex" name="sex">
                {% for item in dict.sex.sexlist %}
                   {% if forloop.counter0 == dict.sex.sex %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
               <div class="validation"></div>
              </div>

                 <div class="form-group">
               <p>院系<span>*</span></p>
               <select class="form-control" id="school" name="school">
                {% for item in dict.department.departmentlist %}
                   {% if forloop.counter0 == dict.department.department %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
               <div class="validation"></div>
              </div>

                 <div class="form-group">
               <p>班级<span>*</span></p>
               <!--span class="icon-case"><i class="fa fa-male"></i></span>
               <input value="{{dict.email}}" type="text" name="email" id="email" required data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Nom' doit &ecirc;tre renseign&eacute;." /-->
               <input type="text" class="form-control" id="classroom" name="classroom" value="{{dict.classroom}}" />
                      <div class="validation"></div>
              </div>

                 <div class="form-group">
               <p>E-mail<span>*</span></p>
               <!--span class="icon-case"><i class="fa fa-male"></i></span>
               <input value="{{dict.email}}" type="text" name="email" id="email" required data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Nom' doit &ecirc;tre renseign&eacute;." /-->
               <input type="text" class="form-control" id="email" name="email" value="{{dict.email}}" />
                      <div class="validation"></div>
              </div>
                </div>


                <div class="rightcontact">
                <div class="form-group">
               <p>手机<span>*</span></p>
               <!--span class="icon-case"><i class="fa fa-male"></i></span>
               <input value="{{dict.phone}}" type="text" name="phone" id="phone" required data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Nom' doit &ecirc;tre renseign&eacute;." /-->
               <input type="text" class="form-control" id="phone" name="phone" value="{{dict.phone}}" />
                     <div class="validation"></div>
              </div>

                 <div class="form-group">
               <p>民族<span>*</span></p>
               <select class="form-control" id="nation" name="nation">
                {% for item in dict.nation.nationlist %}
                   {% if forloop.counter0 == dict.nation.nation %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
               <div class="validation"></div>
              </div>

                   <div class="form-group">

               <p>生源地<span>*</span></p>
             <select class="form-control" id="province" name="province">
                {% for item in dict.province.provincelist %}
                   {% if forloop.counter0 == dict.province.province %}
                         <option value="{{forloop.counter0}}" selected="selected">{{item}}</option>
                   {% else %}
                         <option value="{{forloop.counter0}}">{{item}}</option>
                   {% endif %}
               {% empty %}
                   <li>抱歉，列表为空</li>
               {% endfor %}
               </select>
            <div class="validation"></div>
                       </div>
                    <div class="form-group">
               <p>QQ</p>
               <!--span class="icon-case"><i class="fa fa-male"></i></span-->
               <!--input value="{{dict.qqn}}" type="text" name="qqn" id="qqn" required data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Nom' doit &ecirc;tre renseign&eacute;." /-->
                <input type="text" class="form-control" id="qqn" name="qqn" value="{{dict.qqn}}" />
                     <div class="validation"></div>
              </div>

              <div class="form-group">
               <p>微信</p>
               <!--span class="icon-case"><i class="fa fa-comments-o"></i></span-->
               <input type="text" class="form-control" id="weichat" name="weichat" value="{{dict.weichat}}" />
               <div class="validation"></div>
              </div>
             </div>

                <!--fieldset disabled=""-->
                <div class="form-group">
               <p>分管组</p>
               <!--span class="icon-case"><i class="fa fa-comments-o"></i></span-->
               <input type="text" class="form-control" id="distribute" name="distribute" value="{{dict.distribute}}" readonly="true"/>
               <div class="validation"></div>
              </div><!--fieldset/-->

                <div class="form-group">
               <p>备注<span>*</span></p>
               <!--span class="icon-case"><i class="fa fa-comments-o"></i></span-->
                <textarea type="text" class="form-control" id="describe" name="describe" rows="4">{{dict.describe}}</textarea>
               <div class="validation"></div>
            </div>
            <button type="button" id="volunteer_save" name="volunteer_save" class="bouton-contact">保存</button>
           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
             <footer>
              <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">早睡早起</a></p>
             </footer>
          </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
   </div>
   <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->
  <!-- JS Scripts-->
  <!-- jQuery Js -->
  <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
  <!-- Bootstrap Js -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <!-- Metis Menu Js -->
  <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
  <!-- Morris Chart Js -->
  <script src="{% static 'assets/js/morris/raphael-2.1.0.min.js' %}"></script>
  <!--<script src="{% static 'assets/js/morris/morris.js' %}"></script>-->
  <script src="{% static 'assets/js/easypiechart.js' %}"></script>
  <script src="{% static 'assets/js/easypiechart-data.js' %}"></script>
  <!-- Custom Js -->
  <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
  <script>
      console.log("WTF");
      $(document).ready(function(){
          console.log("Arrive here");
          $("#volunteer_save").click(function(){
              console.log("volunteer_save");
            var volunteer_name = $("#volunteer_name").val();
            var email = $("#email").val();
            var work_address = $("#work_address").val();
            var home_address = $("#home_address").val();
            var postcode = $("#postcode").val();
            var homephone = $("#homephone").val();
            var phone = $("#phone").val();
            var qqn = $("#qqn").val();
            var weichat = $("#weichat").val();
            var describe = $("#describe").val();
            $.post("",
                    {
                        'volunteer_name':volunteer_name,
                        'email':email,
                        'work_address':work_address,
                        'home_address':home_address,
                        'postcode':postcode,
                        'homephone':homephone,
                        'phone':phone,
                        'qqn':qqn,
                        'weichat':weichat,
                        'describe':describe,
                    },
                    function(profileDict){
                        console.log(profileDict['homephone']);
                        alert('success');
                        for (key_i in profileDict)
                            $("#"+key_i).val(profileDict[key_i])
            })
          });
      });
  </script>
 </body>
</html>