<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>用户信息</title>
 </head>
 <body>
   {% load staticfiles %}
  <!-- Bootstrap Styles-->
  <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
   <!-- profile-->
  <link href="{% static 'assets/css/profile/profile.css' %}" rel="stylesheet" type="text/css" />
  <div id="wrapper">
   {% include 'v_nav.html' %}
   <div id="page-wrapper">
    <div id="page-inner">
     <!--row-->
     <div class="row">
      <div class="col-md-12">
       <div class="panel panel-default">
        <div class="panel-body">
         <div class="row">
          <div class="col-md-12">
           <form role = "form" action="#">
              {% csrf_token %}
            <h1>我的信息</h1>
            <div class="contentform">
             <div class="leftcontact">
              <div class="form-group">
               <p>姓名<span>*</span></p>
               <span class="icon-case"><i class="fa fa-male"></i></span>
               <input value="{{dict.volunteer_name}}" type="text" name="volunteer_name" id="volunteer_name" required data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Nom' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>E-mail <span>*</span></p>
               <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
               <input value="{{dict.email}}" required type="email" name="email" id="email" data-rule="email" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>办公室地址 <span>*</span></p>
               <span class="icon-case"><i class="fa fa-home"></i></span>
               <input value="{{dict.work_address}}" required  type="text" name="work_address" id="work_address" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Soci&eacute;t&eacute;' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>家庭地址 </p>
               <span class="icon-case"><i class="fa fa-map-marker"></i></span>
               <input value="{{dict.home_address}}" type="text" name="home_address" id="home_address" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Code postal' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>邮编 </p>
               <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
               <input value="{{dict.postcode}}" type="text" name="postcode" id="postcode" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Adresse' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>

             </div>
             <div class="rightcontact">
              <div class="form-group">
               <p>固定电话 </p>
               <span class="icon-case"><i class="fa fa-phone"></i></span>
               <input value="{{dict.homephone}}" type="text" name="homephone" id="homephone" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Ville' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>手机号码 <span>*</span></p>
               <span class="icon-case"><i class="fa fa-phone"></i></span>
               <input value="{{dict.phone}}" required  type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'T&eacute;l&eacute;phone' doit &ecirc;tre renseign&eacute;. Minimum 10 chiffres" />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>QQ </p>
               <span class="icon-case"><i class="fa fa-info"></i></span>
               <input value="{{dict.qqn}}" type="text" name="qqn" id="qqn" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Fonction' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>微信号 </p>
               <span class="icon-case"><i class="fa fa-comment-o"></i></span>
               <input value="{{dict.weichat}}" type="text" name="weichat" id="weichat" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Sujet' doit &ecirc;tre renseign&eacute;." />
               <div class="validation"></div>
              </div>
              <div class="form-group">
               <p>个人描述 <span>*</span></p>
               <span class="icon-case"><i class="fa fa-comments-o"></i></span>
               <textarea required  name="describe" id="describe" rows="14" data-rule="required" data-msg="V&eacute;rifiez votre saisie sur les champs : Le champ 'Message' doit &ecirc;tre renseign&eacute;.">
                {{dict.describe}}
               </textarea>
               <div class="validation"></div>
              </div>
             </div>
            </div>
            <button type="button" id="volunteer_save" name="volunteer_save" class="bouton-contact">保存</button>
           </form>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
             <footer>
              <p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">早睡早起</a></p>
             </footer>
          </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
   </div>
   <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->
  <!-- JS Scripts-->
  <!-- jQuery Js -->
  <script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
  <!-- Bootstrap Js -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <!-- Metis Menu Js -->
  <script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
  <!-- Morris Chart Js -->
  <script src="{% static 'assets/js/morris/raphael-2.1.0.min.js' %}"></script>
  <!--<script src="{% static 'assets/js/morris/morris.js' %}"></script>-->
  <script src="{% static 'assets/js/easypiechart.js' %}"></script>
  <script src="{% static 'assets/js/easypiechart-data.js' %}"></script>
  <!-- Custom Js -->
  <script src="{% static 'assets/js/custom-scripts.js' %}"></script>
  <script>
      console.log("WTF");
      $(document).ready(function(){
          console.log("Arrive here");
          $("#volunteer_save").click(function(){
              console.log("volunteer_save");
            var volunteer_name = $("#volunteer_name").val();
            var email = $("#email").val();
            var work_address = $("#work_address").val();
            var home_address = $("#home_address").val();
            var postcode = $("#postcode").val();
            var homephone = $("#homephone").val();
            var phone = $("#phone").val();
            var qqn = $("#qqn").val();
            var weichat = $("#weichat").val();
            var describe = $("#describe").val();
            $.post("",
                    {
                        'volunteer_name':volunteer_name,
                        'email':email,
                        'work_address':work_address,
                        'home_address':home_address,
                        'postcode':postcode,
                        'homephone':homephone,
                        'phone':phone,
                        'qqn':qqn,
                        'weichat':weichat,
                        'describe':describe,
                    },
                    function(profileDict){
                        console.log(profileDict['homephone']);
                        for (key_i in profileDict)
                            $("#"+key_i).val(profileDict[key_i])
            })
          });
      });
  </script>
 </body>
</html>